web/geonetwork/xml/validation/csw202_apiso100/csw/2.0.2/fra.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by STEPHANE BIDAULT (I.G.N/SAF/RECEPTIONS) -->
<xs:schema targetNamespace="http://www.cnig.gouv.fr/2005/fra" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gmx="http://www.isotc211.org/2005/gmx" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmi="http://www.isotc211.org/2005/gmi" xmlns:gfc="http://www.isotc211.org/2005/gfc" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:fra="http://www.cnig.gouv.fr/2005/fra">
    <!-- ================================= Annotation ================================ -->
    <xs:annotation>
        <xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-05-2006 07:56:18 ====== </xs:documentation>
    </xs:annotation>
    <!-- ================================== Imports ================================== -->
    <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gfc" schemaLocation="../gfc/gfc.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gmi" schemaLocation="../gmi/gmi.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/basicTypes.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gmx" schemaLocation="../gmx/gmx.xsd"/>
    <!-- ########################################################################### -->
    <!-- ########################################################################### -->
    <!-- ================================== Classes ================================= -->
    <xs:complexType name="FRA_Constraints_Type">
        <xs:complexContent>
            <xs:extension base="gmd:MD_Constraints_Type">
                <xs:sequence>
                    <xs:element name="citation" type="gmd:CI_Citation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Constraints"/>                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="FRA_Constraints" type="fra:FRA_Constraints_Type" substitutionGroup="gmd:MD_Constraints"/>
    <!-- ........................................................................ -->
    <xs:complexType name="FRA_Constraints_PropertyType">
        <xs:sequence>
            <xs:element ref="fra:FRA_Constraints" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference"/>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:complexType name="FRA_DataIdentification_Type">
        <xs:complexContent>
            <xs:extension base="gmd:MD_DataIdentification_Type">
                <xs:sequence>
                    <xs:element name="relatedCitation" type="gmd:CI_Citation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_DataIdentification"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="FRA_DataIdentification" type="fra:FRA_DataIdentification_Type" substitutionGroup="gmd:AbstractMD_Identification"/>
    <!-- ........................................................................ -->
    <xs:complexType name="FRA_DataIdentification_PropertyType">
        <xs:sequence>
            <xs:element ref="fra:FRA_DataIdentification" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference"/>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:complexType name="FRA_DirectReferenceSystem_Type">
        <xs:complexContent>
            <xs:extension base="gmd:MD_ReferenceSystem_Type">
                <xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_ReferenceSystem"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="FRA_DirectReferenceSystem" type="fra:FRA_DirectReferenceSystem_Type" substitutionGroup="gmd:MD_ReferenceSystem"/>
    <!-- ........................................................................ -->
    <xs:complexType name="FRA_DirectReferenceSystem_PropertyType">
        <xs:sequence>
            <xs:element ref="fra:FRA_DirectReferenceSystem" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference"/>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:complexType name="FRA_FeatureCatalogue_Type">
        <xs:complexContent>
            <xs:extension base="gmx:AbstractCT_Catalogue_Type">
                <xs:sequence>
                    <xs:element name="producer" type="gmd:CI_ResponsibleParty_PropertyType"/>
                    <xs:element name="functionalLanguage" type="gco:CharacterString_PropertyType"/>
                    <xs:element name="featureType" type="gfc:FC_FeatureType_PropertyType" maxOccurs="unbounded"/>
                    <xs:element name="definitionSource" type="gfc:FC_DefinitionSource_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute ref="gco:isoType" use="required" fixed="gmx:AbstractCT_Catalogue"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="FRA_FeatureCatalogue" type="fra:FRA_FeatureCatalogue_Type" substitutionGroup="gmx:AbstractCT_Catalogue"/>
    <!-- ........................................................................ -->
    <xs:complexType name="FRA_FeatureCatalogue_PropertyType">
        <xs:sequence>
            <xs:element ref="fra:FRA_FeatureCatalogue" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference"/>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:complexType name="FRA_IndirectReferenceSystem_Type">
        <xs:complexContent>
            <xs:extension base="gmd:MD_ReferenceSystem_Type">
                <xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_ReferenceSystem"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="FRA_IndirectReferenceSystem" type="fra:FRA_IndirectReferenceSystem_Type" substitutionGroup="gmd:MD_ReferenceSystem"/>
    <!-- ........................................................................ -->
    <xs:complexType name="FRA_IndirectReferenceSystem_PropertyType">
        <xs:sequence>
            <xs:element ref="fra:FRA_IndirectReferenceSystem" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference"/>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:complexType name="FRA_LegalConstraints_Type">
        <xs:complexContent>
            <xs:extension base="gmd:MD_LegalConstraints_Type">
                <xs:sequence>
                    <xs:element name="citation" type="gmd:CI_Citation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_LegalConstraints"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="FRA_LegalConstraints" type="fra:FRA_LegalConstraints_Type" substitutionGroup="gmd:MD_LegalConstraints"/>
    <!-- ........................................................................ -->
    <xs:complexType name="FRA_LegalConstraints_PropertyType">
        <xs:sequence>
            <xs:element ref="fra:FRA_LegalConstraints" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference"/>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:complexType name="FRA_SecurityConstraints_Type">
        <xs:complexContent>
            <xs:extension base="gmd:MD_SecurityConstraints_Type">
                <xs:sequence>
                    <xs:element name="citation" type="gmd:CI_Citation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_SecurityConstraints"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="FRA_SecurityConstraints" type="fra:FRA_SecurityConstraints_Type" substitutionGroup="gmd:MD_SecurityConstraints"/>
    <!-- ........................................................................ -->
    <xs:complexType name="FRA_SecurityConstraints_PropertyType">
        <xs:sequence>
            <xs:element ref="fra:FRA_SecurityConstraints" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference"/>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    <!-- =========================================================================== -->
</xs:schema>