web/src/main/webResources/WEB-INF/wro-sources.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sources" type="sourcesType"/>
  <xs:complexType name="jsSourceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="webapp" use="required"/>
        <xs:attribute type="xs:string" name="pathOnDisk" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="requireType">
    <xs:sequence>
      <xs:element type="jsSourceType" name="jsSource" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="cssSourceType" name="cssSource" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="pathOnDisk"/>
  </xs:complexType>
  <xs:complexType name="includeType">
    <xs:attribute type="xs:string" name="file" use="required"/>
  </xs:complexType>
  <xs:complexType name="sourcesType">
    <xs:sequence>
      <xs:element type="includeType" name="include" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="requireType" name="require" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="declarativeType" name="declarative" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="declarativeType">
    <xs:sequence>
      <xs:element type="jsSourceType" name="jsSource" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="cssSourceType" name="cssSource" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="pathOnDisk" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>
  <xs:complexType name="cssSourceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="webapp" use="required"/>
        <xs:attribute type="xs:string" name="pathOnDisk" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>