web/src/main/webapp/WEB-INF/data/config/schema_plugins/dcat2/schema/dcat.v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:dcat="http://www.w3.org/ns/dcat#"
  xmlns:dct="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:odrl="http://www.w3.org/ns/odrl/2/"
  xmlns:prov="http://www.w3.org/ns/prov#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.w3.org/ns/dcat#"
  elementFormDefault="qualified"
  attributeFormDefault="qualified">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      DCAT version 2 XML Schema
      XML Schema for http://www.w3.org/ns/dcat# namespace

      Description: This is an XML Schema for the DCAT version 2 specification.
      The schema is based on the one used by GeoNetwork for storing GeoNetwork data internally.
      The schema adheres to a 'normalized' RDF/XML syntax that can be processed with good old XML Technology (XPath,
      XSLT, XQuery).
      The schema is not intended to be used outside GeoNetwork.

      Created 2019-10-03 / Author PW
    </xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/ns/adms#" schemaLocation="adms.xsd"/>
  <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
  <xs:import namespace="http://xmlns.com/foaf/0.1/" schemaLocation="foaf.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/07/owl#" schemaLocation="owl.xsd"/>
  <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="skos.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rdf.xsd"/>
  <xs:import namespace="http://www.w3.org/2006/vcard/ns#" schemaLocation="vcard.xsd"/>
  <xs:import namespace="http://www.w3.org/ns/prov#" schemaLocation="prov.xsd"/>
  <xs:import namespace="http://www.w3.org/ns/odrl/2/" schemaLocation="odrl.xsd"/>
  <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="skos.xsd"/>

  <xs:complexType name="ResourceType" abstract="true">
    <xs:annotation>
      <xs:documentation>
        dcat:Resource represents a dataset, a data service or any other resource
        that may be described by a metadata record in a catalog.

        This class is not intended to be used directly, but is the parent class of dcat:Dataset,
        dcat:DataService and dcat:Catalog.

        Member items in a catalog should be members of one of the sub-classes, or of a
        sub-class of these, or of a sub-class of dcat:Resource defined in a
        DCAT profile or other DCAT application.

        dcat:Resource is effectively an extension point for defining
        a catalog of any kind of resource. dcat:Dataset and dcat:DataService
        can be used for datasets and services which are not documented in any catalog.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="dct:identifier" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:title" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="dct:description" minOccurs="1" maxOccurs="unbounded"/>

      <xs:element name="theme" type="skos:Concept" minOccurs="0" maxOccurs="unbounded" />

      <xs:element name="keyword" type="rdf:PlainLiteral" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:type" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element name="contactPoint" type="vcard:Organization" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:creator" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dct:publisher" minOccurs="0" maxOccurs="1"/>

      <xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>

      <xs:element name="landingPage" type="foaf:Document" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:license" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="odrl:hasPolicy" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="prov:qualifiedAttribution" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="qualifiedRelation" type="dcat:Relationship" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>

      <!--
      A language of the item. This refers to the natural language used for textual metadata (i.e. titles, descriptions, etc) of a cataloged resource (i.e. dataset or service) or the textual values of a dataset distribution

      Resources defined by the Library of Congress (ISO 639-1, ISO 639-2) SHOULD be used.

      If a ISO 639-1 (two-letter) code is defined for language, then its corresponding IRI SHOULD be used; if no ISO 639-1 code is defined, then IRI corresponding to the ISO 639-2 (three-letter) code SHOULD be used.
      -->
      <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="rdf:about"/>
  </xs:complexType>


  <xs:element name="Catalog" type="dcat:Catalog"/>

  <xs:complexType name="Catalog">
    <xs:annotation>
      <xs:documentation>
        dcat:Catalog represents a catalog, which is a dataset in which
        each individual item is a metadata record
        describing some resource; the scope of dcat:Catalog
        is collections of metadata about datasets or data services.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dcat:DatasetType">
        <xs:sequence>
          <xs:element name="catalog" type="dcat:catalog" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="record" type="dcat:catalogRecord" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dataset" type="dcat:dataset" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="service" type="dcat:service" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="themeTaxonomy" type="skos:ConceptScheme" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:hasPart" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="foaf:homepage" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="catalog">
    <xs:sequence>
      <xs:element name="Catalog" type="dcat:Catalog"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="catalogRecord">
    <xs:sequence>
      <xs:element ref="dcat:CatalogRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="CatalogRecord" type="dcat:CatalogRecordType"/>

  <xs:complexType name="CatalogRecordType">
    <xs:annotation>
      <xs:documentation>
        dcat:CatalogRecord represents a metadata item in the catalog, primarily concerning the registration information,
        such as who added the item and when.

        https://www.w3.org/TR/vocab-dcat-2/#Class:Catalog_Record
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="dct:identifier" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dct:modified" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="foaf:primaryTopic" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="1"/>

      <!-- DCAT-AP adds -->
      <!-- TODO: adms:status 0..1 -->
      <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
      <!-- TODO: dct:source 0..1 -->
    </xs:sequence>
    <xs:attribute ref="rdf:about"/>
  </xs:complexType>

  <xs:complexType name="dataset">
    <xs:sequence>
      <xs:element ref="dcat:Dataset"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Dataset" type="dcat:DatasetType"/>

  <xs:complexType name="DatasetType">
    <xs:annotation>
      <xs:documentation>
        dcat:Dataset represents a dataset. A dataset is a collection of data, published or curated by a single agent.
        Data comes in many forms including numbers, words, pixels, imagery, sound and other multi-media, and potentially
        other types, any of which might be collected into a dataset.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dcat:ResourceType">
        <xs:sequence>
          <xs:element name="distribution" type="dcat:Distribution" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="spatialResolutionInMeters" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="temporalResolution" type="xs:duration" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:accrualPeriodicity" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="dct:spatial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:temporal" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="prov:wasGeneratedBy" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="service">
    <xs:sequence>
      <xs:element ref="dcat:DataService"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="DataService" type="dcat:DataServiceType"/>

  <xs:complexType name="DataServiceType">
    <xs:annotation>
      <xs:documentation>
        dcat:DataService represents a data service. A data service is a collection of operations accessible through an
        interface (API) that provide access to one or more datasets or data processing functions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dcat:ResourceType">
        <xs:sequence>
          <xs:element name="endpointDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="endpointURL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="servesDataset" type="dcat:dataset" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="Distribution">
    <xs:annotation>
      <xs:documentation>
        dcat:Distribution represents an accessible form of a dataset such as a downloadable file.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Distribution" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dct:title" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:description" minOccurs="1" maxOccurs="unbounded"/>

            <xs:element name="accessService" type="dcat:DataServiceType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="accessURL" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="downloadURL" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>

            <xs:element ref="dct:format" minOccurs="0" maxOccurs="1"/>
            <xs:element name="mediaType" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="packageFormat" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="byteSize" type="xs:decimal" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="compressFormat" minOccurs="1" maxOccurs="unbounded"/>

            <xs:element name="spatialResolutionInMeters" type="xs:decimal" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="temporalResolution" type="xs:duration" minOccurs="1" maxOccurs="unbounded"/>

            <xs:element ref="dct:accessRights" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="dct:license" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:rights" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="odrl:hasPolicy" minOccurs="0" maxOccurs="1"/>

            <xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
          <xs:attribute ref="rdf:about"/>
          <xs:attribute ref="rdf:nodeID"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="Relationship">
    <xs:sequence>
      <xs:element name="Relationship" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hadRole" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:description" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute ref="rdf:about"/>
          <xs:attribute ref="rdf:nodeID"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
