schemas/iso19115-3.2018GNSS/src/main/plugin/iso19115-3.2018GNSS/schema/standards.iso.org/19110/fcc/1.0/abstract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:fcc="http://standards.iso.org/iso/19110/fcc/1.0" 
  xmlns:cat="http://standards.iso.org/iso/19115/-3/cat/1.0" 
  xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0" 
  elementFormDefault="qualified" targetNamespace="http://standards.iso.org/iso/19110/fcc/1.0" version="1.0">
  <include schemaLocation="fcc.xsd"/>
  <import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0" schemaLocation="../../../19115/-3/gco/1.0/gco.xsd"/>
  <import namespace="http://standards.iso.org/iso/19115/-3/cat/1.0" schemaLocation="../../../19115/-3/cat/1.0/cat.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="Abstract_FeatureCatalogue" substitutionGroup="gco:AbstractObject" type="fcc:Abstract_FeatureCatalogue_Type"/>
  <!-- SMR 2015-06-14 hand craft to get Abstract FeatureCatalogue in substitution group for CT_Catalogue -->
   <complexType abstract="true" name="Abstract_FeatureCatalogue_Type">
    <complexContent>
      <extension base="cat:AbstractCT_Catalogue_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_FeatureCatalogue_PropertyType">
    <sequence minOccurs="0">
      <element ref="fcc:Abstract_FeatureCatalogue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_FeatureType" substitutionGroup="gco:AbstractObject" type="fcc:Abstract_FeatureType_Type"/>
  <complexType abstract="true" name="Abstract_FeatureType_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_FeatureType_PropertyType">
    <sequence minOccurs="0">
      <element ref="fcc:Abstract_FeatureType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
