schemas/fgdc-std/src/main/plugin/fgdc-std/fgdc-std-001-1998-sect04.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://www.ascc.net/xml/schematron" blockDefault="#all">
<xsd:element name="spref" type="sprefType"/>
<xsd:complexType name="sprefType">
	<xsd:sequence>
		<xsd:element ref="horizsys" minOccurs="0"/>
		<xsd:element ref="vertdef" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="horizsys" type="horizsysType"/>
<xsd:complexType name="horizsysType">
	<xsd:sequence>
		<xsd:choice>
			<xsd:element ref="geograph"/>
			<xsd:element ref="planar" maxOccurs="unbounded"/>
			<xsd:element ref="local"/>
		</xsd:choice>
		<xsd:element ref="geodetic" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="geograph" type="geographType"/>
<xsd:complexType name="geographType">
	<xsd:sequence>
		<xsd:element ref="latres"/>
		<xsd:element ref="longres"/>
		<xsd:element ref="geogunit"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="latres" type="latresType"/>
<xsd:simpleType name="latresType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="longres" type="longresType"/>
<xsd:simpleType name="longresType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="geogunit" type="geogunitType"/>
<xsd:simpleType name="geogunitType">
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="Decimal degrees"/>
		<xsd:enumeration value="Decimal minutes"/>
		<xsd:enumeration value="Decimal seconds"/>
		<xsd:enumeration value="Degrees and decimal minutes"/>
		<xsd:enumeration value="Degrees, minutes, and decimal seconds"/>
		<xsd:enumeration value="Radians"/>
		<xsd:enumeration value="Grads"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="planar" type="planarType"/>
<xsd:complexType name="planarType">
	<xsd:sequence>
		<xsd:choice>
			<xsd:element ref="mapproj"/>
			<xsd:element ref="gridsys"/>
			<xsd:element ref="localp"/>
		</xsd:choice>
		<xsd:element ref="planci"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="mapproj" type="mapprojType"/>
<xsd:complexType name="mapprojType">
	<xsd:sequence>
		<xsd:element ref="mapprojn"/>
		<xsd:choice>
			<xsd:element ref="albers"/>
			<xsd:element ref="azimequi"/>
			<xsd:element ref="equicon"/>
			<xsd:element ref="equirect"/>
			<xsd:element ref="gvnsp"/>
			<xsd:element ref="gnomonic"/>
			<xsd:element ref="lamberta"/>
			<xsd:element ref="lambertc"/>
			<xsd:element ref="mercator"/>
			<xsd:element ref="modsak"/>
			<xsd:element ref="miller"/>
			<xsd:element ref="obqmerc"/>
			<xsd:element ref="orthogr"/>
			<xsd:element ref="polarst"/>
			<xsd:element ref="polycon"/>
			<xsd:element ref="robinson"/>
			<xsd:element ref="sinusoid"/>
			<xsd:element ref="spaceobq"/>
			<xsd:element ref="stereo"/>
			<xsd:element ref="transmer"/>
			<xsd:element ref="vdgrin"/>
			<xsd:element ref="mapprojp"/>
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="mapprojn" type="mapprojnType"/>
<xsd:simpleType name="mapprojnType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="albers" type="albersType"/>
<xsd:complexType name="albersType">
	<xsd:sequence>
		<xsd:element ref="stdparll" maxOccurs="2"/>
		<xsd:element ref="longcm"/>
		<xsd:element ref="latprjo"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="azimequi" type="azimequiType"/>
<xsd:complexType name="azimequiType">
	<xsd:sequence>
		<xsd:element ref="longcm"/>
		<xsd:element ref="latprjo"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="equicon" type="equiconType"/>
<xsd:complexType name="equiconType">
	<xsd:sequence>
		<xsd:element ref="stdparll" maxOccurs="2"/>
		<xsd:element ref="longcm"/>
		<xsd:element ref="latprjo"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="equirect" type="equirectType"/>
<xsd:complexType name="equirectType">
	<xsd:sequence>
		<xsd:element ref="stdparll"/>
		<xsd:element ref="longcm"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="gvnsp" type="gvnspType"/>
<xsd:complexType name="gvnspType">
	<xsd:sequence>
		<xsd:element ref="heightpt"/>
		<xsd:element ref="longpc"/>
		<xsd:element ref="latprjc"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="gnomonic" type="gnomonicType"/>
<xsd:complexType name="gnomonicType">
	<xsd:sequence>
		<xsd:element ref="longpc"/>
		<xsd:element ref="latprjc"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="lamberta" type="lambertaType"/>
<xsd:complexType name="lambertaType">
	<xsd:sequence>
		<xsd:element ref="longpc"/>
		<xsd:element ref="latprjc"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="lambertc" type="lambertcType"/>
<xsd:complexType name="lambertcType">
	<xsd:sequence>
		<xsd:element ref="stdparll" maxOccurs="2"/>
		<xsd:element ref="longcm"/>
		<xsd:element ref="latprjo"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="mercator" type="mercatorType"/>
<xsd:complexType name="mercatorType">
	<xsd:sequence>
		<xsd:choice>
			<xsd:element ref="stdparll"/>
			<xsd:element ref="sfequat"/>
		</xsd:choice>
		<xsd:element ref="longcm"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="modsak" type="modsakType"/>
<xsd:complexType name="modsakType">
	<xsd:sequence>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="miller" type="millerType"/>
<xsd:complexType name="millerType">
	<xsd:sequence>
		<xsd:element ref="longcm"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="obqmerc" type="obqmercType"/>
<xsd:complexType name="obqmercType">
	<xsd:sequence>
		<xsd:element ref="sfctrlin"/>
		<xsd:choice>
			<xsd:element ref="obqlazim"/>
			<xsd:element ref="obqlpt"/>
		</xsd:choice>
		<xsd:element ref="latprjo"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="orthogr" type="orthogrType"/>
<xsd:complexType name="orthogrType">
	<xsd:sequence>
		<xsd:element ref="longpc"/>
		<xsd:element ref="latprjc"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="polarst" type="polarstType"/>
<xsd:complexType name="polarstType">
	<xsd:sequence>
		<xsd:element ref="svlong"/>
		<xsd:choice>
			<xsd:element ref="stdparll"/>
			<xsd:element ref="sfprjorg"/>
		</xsd:choice>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="polycon" type="polyconType"/>
<xsd:complexType name="polyconType">
	<xsd:sequence>
		<xsd:element ref="longcm"/>
		<xsd:element ref="latprjo"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="robinson" type="robinsonType"/>
<xsd:complexType name="robinsonType">
	<xsd:sequence>
		<xsd:element ref="longpc"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="sinusoid" type="sinusoidType"/>
<xsd:complexType name="sinusoidType">
	<xsd:sequence>
		<xsd:element ref="longcm"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="spaceobq" type="spaceobqType"/>
<xsd:complexType name="spaceobqType">
	<xsd:sequence>
		<xsd:element ref="landsat"/>
		<xsd:element ref="pathnum"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="stereo" type="stereoType"/>
<xsd:complexType name="stereoType">
	<xsd:sequence>
		<xsd:element ref="longpc"/>
		<xsd:element ref="latprjc"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="transmer" type="transmerType"/>
<xsd:complexType name="transmerType">
	<xsd:sequence>
		<xsd:element ref="sfctrmer"/>
		<xsd:element ref="longcm"/>
		<xsd:element ref="latprjo"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="vdgrin" type="vdgrinType"/>
<xsd:complexType name="vdgrinType">
	<xsd:sequence>
		<xsd:element ref="longcm"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="mapprojp" type="mapprojpType"/>
<xsd:complexType name="mapprojpType">
	<xsd:choice maxOccurs="6">
		<xsd:element ref="stdparll"/>
		<xsd:element ref="longcm"/>
		<xsd:element ref="latprjo"/>
		<xsd:element ref="feast"/>
		<xsd:element ref="fnorth"/>
		<xsd:element ref="sfequat"/>
		<xsd:element ref="heightpt"/>
		<xsd:element ref="longpc"/>
		<xsd:element ref="latprjc"/>
		<xsd:element ref="sfctrlin"/>
		<xsd:element ref="obqlazim"/>
		<xsd:element ref="obqlpt"/>
		<xsd:element ref="svlong"/>
		<xsd:element ref="sfprjorg"/>
		<xsd:element ref="landsat"/>
		<xsd:element ref="pathnum"/>
		<xsd:element ref="sfctrmer"/>
		<xsd:element ref="otherprj"/>
	</xsd:choice>
</xsd:complexType>

<xsd:element name="stdparll" type="stdparllType"/>
<xsd:simpleType name="stdparllType">
	<xsd:restriction base="FGDClatitude"/>
</xsd:simpleType>

<xsd:element name="longcm" type="longcmType"/>
<xsd:simpleType name="longcmType">
	<xsd:restriction base="FGDClongitude">
		<xsd:maxExclusive value="180.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="latprjo" type="latprjoType"/>
<xsd:simpleType name="latprjoType">
	<xsd:restriction base="FGDClatitude"/>
</xsd:simpleType>

<xsd:element name="feast" type="feastType"/>
<xsd:simpleType name="feastType">
	<xsd:restriction base="xsd:double"/>
</xsd:simpleType>

<xsd:element name="fnorth" type="fnorthType"/>
<xsd:simpleType name="fnorthType">
	<xsd:restriction base="xsd:double"/>
</xsd:simpleType>

<xsd:element name="sfequat" type="sfequatType"/>
<xsd:simpleType name="sfequatType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="heightpt" type="heightptType"/>
<xsd:simpleType name="heightptType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="longpc" type="longpcType"/>
<xsd:simpleType name="longpcType">
	<xsd:restriction base="FGDClongitude">
		<xsd:maxExclusive value="180.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="latprjc" type="latprjcType"/>
<xsd:simpleType name="latprjcType">
	<xsd:restriction base="FGDClatitude"/>
</xsd:simpleType>

<xsd:element name="sfctrlin" type="sfctrlinType"/>
<xsd:simpleType name="sfctrlinType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="obqlazim" type="obqlazimType"/>
<xsd:complexType name="obqlazimType">
	<xsd:sequence>
		<xsd:element ref="azimangl"/>
		<xsd:element ref="azimptl"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="azimangl" type="azimanglType"/>
<xsd:simpleType name="azimanglType">
	<xsd:restriction base="xsd:double">
		<xsd:minInclusive value="0.0"/>
		<xsd:maxExclusive value="360.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="azimptl" type="azimptlType"/>
<xsd:simpleType name="azimptlType">
	<xsd:restriction base="FGDClongitude">
		<xsd:maxExclusive value="180.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="obqlpt" type="obqlptType"/>
<xsd:complexType name="obqlptType">
	<xsd:sequence minOccurs="2" maxOccurs="2">
		<xsd:element ref="obqllat"/>
		<xsd:element ref="obqllong"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="obqllat" type="obqllatType"/>
<xsd:simpleType name="obqllatType">
	<xsd:restriction base="FGDClatitude"/>
</xsd:simpleType>

<xsd:element name="obqllong" type="obqllongType"/>
<xsd:simpleType name="obqllongType">
	<xsd:restriction base="FGDClongitude">
		<xsd:maxExclusive value="180.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="svlong" type="svlongType"/>
<xsd:simpleType name="svlongType">
	<xsd:restriction base="FGDClongitude">
		<xsd:maxExclusive value="180.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="sfprjorg" type="sfprjorgType"/>
<xsd:simpleType name="sfprjorgType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="landsat" type="landsatType"/>
<xsd:simpleType name="landsatType">
	<xsd:restriction base="xsd:positiveInteger"/>
</xsd:simpleType>

<xsd:element name="pathnum" type="pathnumType"/>
<xsd:simpleType name="pathnumType">
	<xsd:restriction base="xsd:positiveInteger"/>
</xsd:simpleType>

<xsd:element name="sfctrmer" type="sfctrmerType"/>
<xsd:simpleType name="sfctrmerType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="otherprj" type="otherprjType"/>
<xsd:simpleType name="otherprjType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="gridsys" type="gridsysType"/>
<xsd:complexType name="gridsysType">
	<xsd:sequence>
		<xsd:element ref="gridsysn"/>
		<xsd:choice>
			<xsd:element ref="utm"/>
			<xsd:element ref="ups"/>
			<xsd:element ref="spcs"/>
			<xsd:element ref="arcsys"/>
			<xsd:element ref="othergrd"/>
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="gridsysn" type="gridsysnType"/>
<xsd:simpleType name="gridsysnType">
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="Universal Transverse Mercator"/>
		<xsd:enumeration value="Universal Polar Stereographic"/>
		<xsd:enumeration value="State Plane Coordinate System 1927"/>
		<xsd:enumeration value="State Plane Coordinate System 1983"/>
		<xsd:enumeration value="ARC Coordinate System"/>
		<xsd:enumeration value="other grid system"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="utm" type="utmType"/>
<xsd:complexType name="utmType">
	<xsd:sequence>
		<xsd:element ref="utmzone"/>
		<xsd:element ref="transmer"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="utmzone" type="utmzoneType"/>
<xsd:simpleType name="utmzoneType">
	<xsd:union>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer">
				<xsd:minInclusive value="-60"/>
				<xsd:maxInclusive value="-1"/>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:union>
</xsd:simpleType>

<xsd:element name="ups" type="upsType"/>
<xsd:complexType name="upsType">
	<xsd:sequence>
		<xsd:element ref="upszone"/>
		<xsd:element ref="polarst"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="upszone" type="upszoneType"/>
<xsd:simpleType name="upszoneType">
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="A"/>
		<xsd:enumeration value="B"/>
		<xsd:enumeration value="Y"/>
		<xsd:enumeration value="Z"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="spcs" type="spcsType"/>
<xsd:complexType name="spcsType">
	<xsd:sequence>
		<xsd:element ref="spcszone"/>
		<xsd:choice>
			<xsd:element ref="lambertc"/>
			<xsd:element ref="transmer"/>
			<xsd:element ref="obqmerc"/>
			<xsd:element ref="polycon"/>
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="spcszone" type="spcszoneType"/>
<xsd:simpleType name="spcszoneType">
	<xsd:restriction base="FGDCstring">
		<xsd:pattern value="\d{4}"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="arcsys" type="arcsysType"/>
<xsd:complexType name="arcsysType">
	<xsd:sequence>
		<xsd:element ref="arczone"/>
		<xsd:choice>
			<xsd:element ref="equirect"/>
			<xsd:element ref="azimequi"/>
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="arczone" type="arczoneType"/>
<xsd:simpleType name="arczoneType">
	<xsd:restriction base="xsd:integer">
		<xsd:minInclusive value="1"/>
		<xsd:maxInclusive value="18"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="othergrd" type="othergrdType"/>
<xsd:simpleType name="othergrdType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="localp" type="localpType"/>
<xsd:complexType name="localpType">
	<xsd:sequence>
		<xsd:element ref="localpd"/>
		<xsd:element ref="localpgi"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="localpd" type="localpdType"/>
<xsd:simpleType name="localpdType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="localpgi" type="localpgiType"/>
<xsd:simpleType name="localpgiType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="planci" type="planciType"/>
<xsd:complexType name="planciType">
	<xsd:sequence>
		<xsd:element ref="plance"/>
		<xsd:choice>
			<xsd:element ref="coordrep"/>
			<xsd:element ref="distbrep"/>
		</xsd:choice>
		<xsd:element ref="plandu"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="plance" type="planceType"/>
<xsd:simpleType name="planceType">
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="coordinate pair"/>
		<xsd:enumeration value="distance and bearing"/>
		<xsd:enumeration value="row and column"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="coordrep" type="coordrepType"/>
<xsd:complexType name="coordrepType">
	<xsd:sequence>
		<xsd:element ref="absres"/>
		<xsd:element ref="ordres"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="absres" type="absresType"/>
<xsd:simpleType name="absresType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="ordres" type="ordresType"/>
<xsd:simpleType name="ordresType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="distbrep" type="distbrepType"/>
<xsd:complexType name="distbrepType">
	<xsd:sequence>
		<xsd:element ref="distres"/>
		<xsd:element ref="bearres"/>
		<xsd:element ref="bearunit"/>
		<xsd:element ref="bearrefd"/>
		<xsd:element ref="bearrefm"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="distres" type="distresType"/>
<xsd:simpleType name="distresType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="bearres" type="bearresType"/>
<xsd:simpleType name="bearresType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="bearunit" type="bearunitType"/>
<xsd:simpleType name="bearunitType">
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="Decimal degrees"/>
		<xsd:enumeration value="Decimal minutes"/>
		<xsd:enumeration value="Decimal seconds"/>
		<xsd:enumeration value="Degrees and decimal minutes"/>
		<xsd:enumeration value="Degrees, minutes, and decimal seconds"/>
		<xsd:enumeration value="Radians"/>
		<xsd:enumeration value="Grads"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="bearrefd" type="bearrefdType"/>
<xsd:simpleType name="bearrefdType">
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="North"/>
		<xsd:enumeration value="South"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="bearrefm" type="bearrefmType"/>
<xsd:simpleType name="bearrefmType">
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="Assumed"/>
		<xsd:enumeration value="Grid"/>
		<xsd:enumeration value="Magnetic"/>
		<xsd:enumeration value="Astronomic"/>
		<xsd:enumeration value="Geodetic"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="plandu" type="planduType"/>
<xsd:simpleType name="planduType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="local" type="localType"/>
<xsd:complexType name="localType">
	<xsd:sequence>
		<xsd:element ref="localdes"/>
		<xsd:element ref="localgeo"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="localdes" type="localdesType"/>
<xsd:simpleType name="localdesType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="localgeo" type="localgeoType"/>
<xsd:simpleType name="localgeoType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="geodetic" type="geodeticType"/>
<xsd:complexType name="geodeticType">
	<xsd:sequence>
		<xsd:element ref="horizdn" minOccurs="0"/>
		<xsd:element ref="ellips"/>
		<xsd:element ref="semiaxis"/>
		<xsd:element ref="denflat"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="horizdn" type="horizdnType"/>
<xsd:simpleType name="horizdnType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="ellips" type="ellipsType"/>
<xsd:simpleType name="ellipsType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="semiaxis" type="semiaxisType"/>
<xsd:simpleType name="semiaxisType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="denflat" type="denflatType"/>
<xsd:simpleType name="denflatType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="vertdef" type="vertdefType"/>
<xsd:complexType name="vertdefType">
	<xsd:sequence>
		<xsd:element ref="altsys" minOccurs="0"/>
		<xsd:element ref="depthsys" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="altsys" type="altsysType"/>
<xsd:complexType name="altsysType">
	<xsd:sequence>
		<xsd:element ref="altdatum"/>
		<xsd:element ref="altres" maxOccurs="unbounded"/>
		<xsd:element ref="altunits"/>
		<xsd:element ref="altenc"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="altdatum" type="altdatumType"/>
<xsd:simpleType name="altdatumType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="altres" type="altresType"/>
<xsd:simpleType name="altresType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="altunits" type="altunitsType"/>
<xsd:simpleType name="altunitsType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="altenc" type="altencType"/>
<xsd:simpleType name="altencType">
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="Explicit elevation coordinate included with horizontal coordinates"/>
		<xsd:enumeration value="Implicit coordinate"/>
		<xsd:enumeration value="Attribute values"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="depthsys" type="depthsysType"/>
<xsd:complexType name="depthsysType">
	<xsd:sequence>
		<xsd:element ref="depthdn"/>
		<xsd:element ref="depthres" maxOccurs="unbounded"/>
		<xsd:element ref="depthdu"/>
		<xsd:element ref="depthem"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="depthdn" type="depthdnType"/>
<xsd:simpleType name="depthdnType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="depthres" type="depthresType"/>
<xsd:simpleType name="depthresType">
	<xsd:restriction base="xsd:double">
		<xsd:minExclusive value="0.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="depthdu" type="depthduType"/>
<xsd:simpleType name="depthduType">
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="depthem" type="depthemType"/>
<xsd:simpleType name="depthemType">
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="Explicit depth coordinate included with horizontal coordinates"/>
		<xsd:enumeration value="Implicit coordinate"/>
		<xsd:enumeration value="Attribute values"/>
	</xsd:restriction>
</xsd:simpleType>

</xsd:schema>
