web/xml/csw/services.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema  xmlns:gmd="http://www.isotc211.org/2005/gmd"
				xmlns:gco="http://www.isotc211.org/2005/gco"
				xmlns:xs ="http://www.w3.org/2001/XMLSchema"
				targetNamespace="http://www.isotc211.org/2005/gmd"
				elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- ================================================================
* Topic:        Metadataschema for CS-W 2.0/ISO Profile             *
* Filename:     services.xsd                                        *
* Description: XML Schema encoding of ISO 19119:2005/PDAM 1         *
* Last update: 21.03.2006                                           *
* Editor(s):    con terra GmbH                                      *
*               Kristian Senkler (senkler@conterra.de)              *
*               Uwe Voges (voges@conterra.de)                       *
*                                                                   *
* (referenced types are taken from ISO 19139 v1.0                   *
=================================================================== -->
   
<!-- ===============================================
   Imported namespaces
   =============================================== -->
   <xs:include schemaLocation="../gmd/identification.xsd"/>
   <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
   <!-- ===============================================
   SV_ServiceIdentification
   =============================================== -->
   <xs:complexType name="SV_ServiceIdentification_Type">
      <xs:complexContent>
         <xs:extension base="gmd:AbstractMD_Identification_Type">
            <xs:sequence>
               <xs:element name="serviceType"        type="gco:GenericName_PropertyType"/>
               <xs:element name="serviceTypeVersion" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="accessProperties"   type="gmd:MD_StandardOrderProcess_Type" minOccurs="0"/>
               <xs:element name="restrictions"       type="gmd:MD_Constraints_PropertyType"  minOccurs="0"/>
               <xs:element name="extent"             type="gmd:EX_Extent_PropertyType"       minOccurs="0"/>
               <xs:element name="coupledResource"    type="gmd:SV_CoupledResource_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="couplingType"       type="gmd:SV_CouplingType_PropertyType"/>
               <xs:element name="containsOperation"  type="gmd:SV_OperationMetadata_PropertyType" maxOccurs="unbounded"/>
               <xs:element name="operatesOn"         type="gmd:MD_DataIdentification_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- ........................................................................ -->
   <xs:element name="SV_ServiceIdentification" type="gmd:SV_ServiceIdentification_Type" substitutionGroup="gmd:AbstractMD_Identification"/>
   <!-- ........................................................................ -->
   <xs:complexType name="SV_ServiceIdentification_PropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmd:SV_ServiceIdentification"/>
      </xs:sequence>
      <xs:attributeGroup ref="gco:ObjectReference"/>
      <xs:attribute ref="gco:nilReason"/>
   </xs:complexType>
   <!-- ===============================================
   SV_OperationMetadata
   =============================================== -->
   <xs:complexType name="SV_OperationMetadata_Type">
      <xs:complexContent>
         <xs:extension base="gco:AbstractObject_Type">
            <xs:sequence>
               <xs:element name="operationName"        type="gco:CharacterString_PropertyType"/>
               <xs:element name="DCP"                  type="gmd:DCPList_PropertyType"              maxOccurs="unbounded"/>
               <xs:element name="operationDescription" type="gco:CharacterString_PropertyType"      minOccurs="0"/>
               <xs:element name="invocationName"       type="gco:CharacterString_PropertyType"      minOccurs="0"/>
               <xs:element name="connectPoint"         type="gmd:CI_OnlineResource_PropertyType"    maxOccurs="unbounded"/>
               <xs:element name="parameters"           type="gmd:SV_Parameter_PropertyType"         minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="dependsOn"            type="gmd:SV_OperationMetadata_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- ........................................................................ -->
   <xs:element name="SV_OperationMetadata" type="gmd:SV_OperationMetadata_Type"/>
   <!-- ........................................................................ -->
   <xs:complexType name="SV_OperationMetadata_PropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmd:SV_OperationMetadata"/>
      </xs:sequence>
      <xs:attributeGroup ref="gco:ObjectReference"/>
      <xs:attribute ref="gco:nilReason"/>
   </xs:complexType>
   <!-- ===============================================
   SV_Parameter
   =============================================== -->
   <xs:complexType name="SV_Parameter_Type">
      <xs:complexContent>
         <xs:extension base="gco:AbstractObject_Type">
            <xs:sequence>
               <xs:element name="name"          type="gco:MemberName_PropertyType"/>
               <xs:element name="direction"     type="gmd:SV_ParameterDirection_PropertyType" minOccurs="0"/>
               <xs:element name="description"   type="gco:CharacterString_PropertyType" minOccurs="0"/>
               <xs:element name="optionality"   type="gco:CharacterString_PropertyType"/>
               <xs:element name="repeatability" type="gco:Boolean_PropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- ........................................................................ -->
  <xs:element name="SV_Parameter" type="gmd:SV_Parameter_Type"/>
   <!-- ........................................................................ -->
   <xs:complexType name="SV_Parameter_PropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmd:SV_Parameter"/>
      </xs:sequence>
      <xs:attributeGroup ref="gco:ObjectReference"/>
      <xs:attribute ref="gco:nilReason"/>
   </xs:complexType>
   <!-- ===============================================
   SV_ParameterDirection
   =============================================== -->
   <xs:simpleType name="SV_ParameterDirection_Type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="in"/>
         <xs:enumeration value="out"/>
         <xs:enumeration value="in/out"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- ........................................................................ -->
   <xs:element name="SV_ParameterDirection" type="gmd:SV_ParameterDirection_Type" substitutionGroup="gco:CharacterString"/>
   <!-- ........................................................................ -->
   <xs:complexType name="SV_ParameterDirection_PropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmd:SV_ParameterDirection"/>
      </xs:sequence>
      <xs:attribute ref="gco:nilReason"/>
   </xs:complexType>
   <!-- ===============================================
   SV_CoupledResource
   =============================================== -->
   <xs:complexType name="SV_CoupledResource_Type">
      <xs:sequence>
         <xs:element name="identifier"    type="gco:CharacterString_PropertyType"/>
         <xs:element name="operationName" type="gco:CharacterString_PropertyType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- ........................................................................ -->
   <xs:element name="SV_CoupledResource" type="gmd:SV_CoupledResource_Type">
      <xs:annotation>
         <xs:documentation>
				***    operationName should refer to an existing
				SV_OperationMetadata.operationName provided by this tightly coupled
				service instance
				***    identifier should refer to an existing
				MD_DataIdentification.citation.identifier provided by this tightly
				coupled service instance
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <!-- ........................................................................ -->
   <xs:complexType name="SV_CoupledResource_PropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmd:SV_CoupledResource"/>
      </xs:sequence>
      <xs:attributeGroup ref="gco:ObjectReference"/>
      <xs:attribute ref="gco:nilReason"/>
   </xs:complexType>
   <!-- ===============================================
   _CouplingType
   =============================================== -->
   <!-- ........................................................................ -->
  <xs:element name="SV_CouplingType" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
   <!-- ........................................................................ -->
   <xs:complexType name="SV_CouplingType_PropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmd:SV_CouplingType"/>
      </xs:sequence>
      <xs:attribute ref="gco:nilReason"/>
   </xs:complexType>
   <!-- ===============================================
   DCPList
   =============================================== -->
   <!-- ........................................................................ -->
  <xs:element name="DCPList" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
   <!-- ........................................................................ -->
   <xs:complexType name="DCPList_PropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="gmd:DCPList"/>
      </xs:sequence>
      <xs:attribute ref="gco:nilReason"/>
   </xs:complexType>
</xs:schema>

