schemas/iso19115-3.2018GNSS/src/main/plugin/iso19115-3.2018GNSS/schema/standards.iso.org/19103/-/gcx/1.2.0/extendedTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://schemas.isotc211.org/19103/-/gcx/1.2"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
	xmlns:gcx="https://schemas.isotc211.org/19103/-/gcx/1.2"
         version="1.2.0">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 03-14-2005
			12:00:20 ====== Handcrafted 20130614 SMR updates: 1. schema locations for gco and xlink.
			2. change namespace prefix from gmx to gcx, to use for ISO19115-3. 3. change attribute
			group for gcx:anchor from xlink:simpleLink (old) to xlink:simpleAttrs (new). 20130327 -
			Ted changed targetNamespace and gcx namespace to
			http://www.isotc211.org/2005/gcx/1.1.0/2013-03-28 20130624 SMR update namespace version
			date 20140729 SMR update namespace for 07-11 build. The schema generated by ShapeChange
			from the UML does not work for gcx namespace. </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
	<xs:import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink"
		schemaLocation="http://www.w3.org/1999/xlink.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<!-- ======================== Handcrafted types =================================== -->
	<!-- ========================================================================== -->
 	<!-- ====================== The MimeFileType prototype ============================= -->
	<!--It is used to provide information on file types and is substitutable for CharacterString-->
	<!--================= Type ==================-->
	<xs:complexType name="MimeFileType_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MimeFileType" type="gcx:MimeFileType_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MimeFileType_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gcx:MimeFileType"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ========================================================================== -->
	<!-- ======================= The Anchor prototype ================================ -->
	<!--It is used to point to a registred definition-->
	<!--================= Type ==================-->
	<xs:complexType name="Anchor_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<!-- update from xslink:simpleLink to xlink:simpleAttrs with
					new xlink schema location SMR 20130326 -->
				<!-- on 2013-06-24 build, simleAttrs doesn't work, but simpleLink does... WTF! -->
				<!-- Changed back 2013-12-26 by Ted Habermann trying to get 19157-2 to validate -->
				<xs:attributeGroup ref="xlink:simpleAttrs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Anchor" type="gcx:Anchor_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Anchor_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gcx:Anchor"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ========================================================================== -->
	<!-- ====================== The FileName prototype ================================ -->
	<!--It is used to point to a source file and is substitutable for CharacterString-->
	<!--================= Type ==================-->
	<xs:complexType name="FileName_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="src" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FileName" type="gcx:FileName_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FileName_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gcx:FileName"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ====================== The MediaType prototype ================================ -->
	<!--It is used to define type of media and is substitutable for CharacterString-->
	<!--================= Type ==================-->
	<xs:complexType name="MediaType_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MediaType" type="gcx:MediaType_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MediaType_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gcx:MediaType"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ====================== The URI prototype ================================ -->
	<!--It is used to provide an Unique Identifier for a Resource and is substitutable for CharacterString-->
	<!--================= Type ==================-->
	<xs:complexType name="URI_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="URI" type="gcx:URI_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="URI_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gcx:URI"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ========================================================================== -->
	<!-- ======================= Cultural and Linguuistic adaptability ================================ -->
	<!-- ======================= LanguageString Prototype ================================ -->
	<!--It is used to point to a registred definition-->
	<!--================= Type ==================-->
	<xs:complexType name="LanguageString_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="languageCode" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="LanguageString" type="gcx:LanguageString_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="LanguageString_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gcx:Anchor"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ========================================================================== -->
	<!--======= End of Schema ======-->
</xs:schema>
