web/src/main/webapp/xml/schemas/iso19139.che/schema/gfc/gfc.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by STEPHANE BIDAULT (I.G.N/SAF/RECEPTIONS) -->
<xs:schema targetNamespace="http://www.isotc211.org/2005/gfc" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gmx="http://www.isotc211.org/2005/gmx" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gfc="http://www.isotc211.org/2005/gfc">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 02-16-2006 12:32:19 ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmx" schemaLocation="../gmx/gmx.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="FC_ListedValue_Type">
		<xs:annotation>
			<xs:documentation>Value for an enumerated feature attribute domain, including its codes and interpretation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="label" type="gco:CharacterString_PropertyType"/>
					<!--<xs:element name="code" type="gco:CharacterString_PropertyType" minOccurs="0"/>-->
					<xs:element name="definition" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="definitionReference" type="gfc:FC_DefinitionReference_PropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_ListedValue" type="gfc:FC_ListedValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_ListedValue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_ListedValue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FC_FeatureAssociation_Type">
		<xs:annotation>
			<xs:documentation>Relationship that links instances of this feature type with instances of the same or of a different feature type.  - The memberOf-linkBetween association in the General Feature Model is not directly implemented here since it can be easily derived from combining the Role and MemberOf associations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gfc:FC_FeatureType_Type">
				<xs:sequence>
					<xs:element name="roleName" type="gfc:FC_AssociationRole_PropertyType" minOccurs="2" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_FeatureAssociation" type="gfc:FC_FeatureAssociation_Type" substitutionGroup="gfc:FC_FeatureType"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_FeatureAssociation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_FeatureAssociation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FC_FeatureCatalogue_Type">
		<xs:annotation>
			<xs:documentation>A feature catalogue contains its identification and contact information, and definition of some number of feature types with other information necessary for those definitions.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmx:AbstractCT_Catalogue_Type">
				<xs:sequence>
					<xs:element name="producer" type="gmd:CI_ResponsibleParty_PropertyType"/>
					<xs:element name="functionalLanguage" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="featureType" type="gfc:FC_FeatureType_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="definitionSource" type="gfc:FC_DefinitionSource_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="inheritanceRelation" type="gfc:FC_InheritanceRelation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_FeatureCatalogue" type="gfc:FC_FeatureCatalogue_Type" substitutionGroup="gmx:AbstractCT_Catalogue"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_FeatureCatalogue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_FeatureCatalogue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FC_FeatureAttribute_Type">
		<xs:annotation>
			<xs:documentation>Characteristic of a feature type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gfc:AbstractFC_PropertyType_Type">
				<xs:sequence>
					<xs:element name="valueMeasurementUnit" type="gco:UnitOfMeasure_PropertyType" minOccurs="0"/>
					<xs:element name="listedValue" type="gfc:FC_ListedValue_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="valueType" type="gco:TypeName_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_FeatureAttribute" type="gfc:FC_FeatureAttribute_Type" substitutionGroup="gfc:AbstractFC_PropertyType"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_FeatureAttribute_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_FeatureAttribute"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!--<xs:complexType name="FC_AssociationRole_Type">
		<xs:annotation>
			<xs:documentation>A role of the association FC_AssociationRole::relation.  - [ocl] - roleName = FC_Member::memberName; - FC_PropertyType::cardinality realizes GF_AssociationRole::cardinality - [/ocl]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gfc:_FC_AssociationRole_RestrictionType">
				<xs:sequence>
					<xs:element name="type" type="gfc:FC_RoleType_PropertyType"/>
					<xs:element name="isOrdered" type="gco:Boolean_PropertyType"/>
					<xs:element name="isNavigable" type="gco:Boolean_PropertyType"/>
					<xs:element name="relation" type="gfc:FC_FeatureAssociation_PropertyType"/>
					<xs:element name="roleType" type="gfc:FC_FeatureType_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
	<!-- ........................................................................ -->
	<!--<xs:complexType name="_FC_AssociationRole_RestrictionType" abstract="true">
		<xs:annotation>
			<xs:documentation>Restriction type defined as extension of gfc:FC_AssociationRole_Type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="gfc:AbstractFC_PropertyType_Type">
				<xs:sequence>
					<xs:element name="memberName" type="gco:LocalName_PropertyType"/>
					<xs:element name="definition" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="cardinality" type="gco:Multiplicity_PropertyType"/>
					<xs:element name="featureType" type="gfc:FC_FeatureType_PropertyType"/>
					<xs:element name="constrainedBy" type="gfc:FC_Constraint_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="definitionReference" type="gfc:FC_DefinitionReference_PropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>-->
	<!-- ........................................................................ -->
	<xs:complexType name="FC_AssociationRole_Type">
		<xs:annotation>
			<xs:documentation>A role of the association FC_AssociationRole::relation.  - [ocl] - roleName = FC_Member::memberName; - FC_PropertyType::cardinality realizes GF_AssociationRole::cardinality - [/ocl]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gfc:AbstractFC_PropertyType_Type">
				<xs:sequence>
					<xs:element name="type" type="gfc:FC_RoleType_PropertyType"/>
					<xs:element name="isOrdered" type="gco:Boolean_PropertyType"/>
					<xs:element name="isNavigable" type="gco:Boolean_PropertyType"/>
					<xs:element name="relation" type="gfc:FC_FeatureAssociation_PropertyType"/>
					<xs:element name="roleType" type="gfc:FC_FeatureType_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_AssociationRole" type="gfc:FC_AssociationRole_Type" substitutionGroup="gfc:AbstractFC_PropertyType"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_AssociationRole_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_AssociationRole"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FC_FeatureType_Type">
		<xs:annotation>
			<xs:documentation>Class of real world phenomena with common properties -  - [ocl] - name realizes GF_FeatureType::typeName; - isAbstract realizes GF_FeatureType::isAbstract; - constrainedBy realizes GF_FeatureType::constrainedBy - [/ocl]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="typeName" type="gco:LocalName_PropertyType"/>
					<xs:element name="definition" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="isAbstract" type="gco:Boolean_PropertyType"/>
					<xs:element name="aliases" type="gco:LocalName_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="inheritsFrom" type="gfc:FC_InheritanceRelation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="inheritsTo" type="gfc:FC_InheritanceRelation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="featureCatalogue" type="gfc:FC_FeatureCatalogue_PropertyType"/>
					<xs:element name="carrierOfCharacteristics" type="gfc:FC_PropertyType_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="constrainedBy" type="gfc:FC_Constraint_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="definitionReference" type="gfc:FC_DefinitionReference_PropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_FeatureType" type="gfc:FC_FeatureType_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_FeatureType_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_FeatureType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FC_InheritanceRelation_Type">
		<xs:annotation>
			<xs:documentation>FC_InheritanceRelation realizes GF_InheritanceRelation.  - [ocl] - FC_InheritanceRelation always assumes that its GF_InheritanceRelation::uniqueInstance is TRUE. - [/ocl]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="name" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="description" type="gco:CharacterString_PropertyType"/>
					<xs:element name="uniqueInstance" type="gco:Boolean_PropertyType"/>
					<xs:element name="subtype" type="gfc:FC_FeatureType_PropertyType"/>
					<xs:element name="supertype" type="gfc:FC_FeatureType_PropertyType"/>
					<xs:element name="featureCatalogue" type="gfc:FC_FeatureCatalogue_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_InheritanceRelation" type="gfc:FC_InheritanceRelation_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_InheritanceRelation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_InheritanceRelation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FC_FeatureOperation_Type">
		<xs:annotation>
			<xs:documentation>Operation that every instance of an associated feature type must implement. - [ocl] - triggeredByValuesOf realizes GF_Operation::triggeredByValuesOf; - observesValuesOf realizes GF_Operation::observesValuesOf; - affectsValuesOf realizes GF_Operation::affectsValuesOf - [/ocl]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gfc:AbstractFC_PropertyType_Type">
				<xs:sequence>
					<xs:element name="signature" type="gco:CharacterString_PropertyType"/>
					<xs:element name="formalDefinition" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="triggeredByValueOf" type="gfc:FC_FeatureAttribute_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="affectsValueOf" type="gfc:FC_FeatureAttribute_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="observesValueOf" type="gfc:FC_FeatureAttribute_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_FeatureOperation" type="gfc:FC_FeatureOperation_Type" substitutionGroup="gfc:AbstractFC_PropertyType"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_FeatureOperation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_FeatureOperation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="AbstractFC_PropertyType_Type" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract class for feature properties.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="memberName" type="gco:LocalName_PropertyType"/>
					<xs:element name="definition" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="cardinality" type="gco:Multiplicity_PropertyType"/>
					<xs:element name="featureType" type="gfc:FC_FeatureType_PropertyType"/>
					<xs:element name="constrainedBy" type="gfc:FC_Constraint_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="definitionReference" type="gfc:FC_DefinitionReference_PropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AbstractFC_PropertyType" type="gfc:AbstractFC_PropertyType_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_PropertyType_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:AbstractFC_PropertyType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FC_Constraint_Type">
		<xs:annotation>
			<xs:documentation>A class for defining constraints for types.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="description" type="gco:CharacterString_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_Constraint" type="gfc:FC_Constraint_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_Constraint_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_Constraint"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FC_DefinitionSource_Type">
		<xs:annotation>
			<xs:documentation>Class that specifies the source of a definition.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="source" type="gmd:CI_Citation_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_DefinitionSource" type="gfc:FC_DefinitionSource_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_DefinitionSource_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_DefinitionSource"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FC_DefinitionReference_Type">
		<xs:annotation>
			<xs:documentation>Class that links a data instance to the source of its definition.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="sourceIdentifier" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="definitionSource" type="gfc:FC_DefinitionSource_PropertyType"/>
					<!--<xs:element name="theFC_FeatureType" type="gfc:FC_FeatureType_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="theAbstractFC_PropertyType" type="gfc:FC_PropertyType_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="theFC_ListedValue" type="gfc:FC_ListedValue_PropertyType" minOccurs="0" maxOccurs="unbounded"/>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FC_DefinitionReference" type="gfc:FC_DefinitionReference_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_DefinitionReference_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_DefinitionReference"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="FC_RoleType" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FC_RoleType_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gfc:FC_RoleType"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
