schemas/iso19115-3.2018GNSS/src/main/plugin/iso19115-3.2018GNSS/schema/standards.iso.org/19157/-1/dqm/1.0.0/dataQualityMeasure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0"
	xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/1.0"
	xmlns:mcc="http://standards.iso.org/iso/19115/-3/mcc/1.0"
	xmlns:pir="https://schemas.isotc211.org/19135/-1/pir/1.1"
	xmlns:dqm="https://schemas.isotc211.org/19157/-1/dqm/1.0"
	targetNamespace="https://schemas.isotc211.org/19157/-1/dqm/1.0"
	elementFormDefault="qualified"
	version="1.0.0"
	>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0" schemaLocation="../../../../19115/-3/gco/1.0/gco.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/cit/1.0" schemaLocation="../../../../19115/-3/cit/1.0/cit.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mcc/1.0" schemaLocation="../../../../19115/-3/mcc/1.0/mcc.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19135/-1/pir/1.1" schemaLocation="../../../../19135/-1/pir/1.1.0/pir.xsd"/>
	<!-- =========================================================================== -->
	<xs:complexType name="QualityMeasure_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dqm:QualityMeasure"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="QualityMeasure" substitutionGroup="pir:RegisterItem" type="dqm:QualityMeasure_Type" id="ISO19157-1.1.078"/>
	<!-- ........................................................................ -->
	<xs:complexType name="QualityMeasure_Type">
		<xs:annotation>
			<xs:documentation>Data quality measure</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="pir:RegisterItem_Type">
				<xs:sequence>
					<xs:element name="measureIdentifier" type="mcc:MD_Identifier_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.079_ISO19115-1.1.431">
						<xs:annotation>
							<xs:documentation>value uniquely identifying the measure within a namespace</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.080_ISO19103.1.CharacterString">
						<xs:annotation>
							<xs:documentation>name of the data quality measure applied to the data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="alias" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded" id="ISO19157-1.1.081_ISO19103.1.CharacterString">
						<xs:annotation>
							<xs:documentation>another recognized name, an abbreviation or a short name for the same data quality measure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="elementName" type="gco:TypeName_PropertyType" minOccurs="1" maxOccurs="unbounded" id="ISO19157-1.1.082_ISO19103.1.TypeName">
						<xs:annotation>
							<xs:documentation>name of the data quality element for which quality is reported</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="definition" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.083_ISO19103.1.CharacterString">
						<xs:annotation>
							<xs:documentation>definition of the fundamental concept for the data quality measure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="dqm:MeasureDescription_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.084_ISO19157-1.1.102">
						<xs:annotation>
							<xs:documentation>description of the data quality measure, including all formulae and/or illustrations needed to establish the result of applying the measure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valueType" type="gco:TypeName_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.085_ISO19103.1.TypeName">
						<xs:annotation>
							<xs:documentation>value type for reporting a data quality result (shall be one of the data types defined in ISO/TS 19103:2005)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valueStructure" type="dqm:ValueStructure_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.086_ISO19157-1.1.Table.C.13">
						<xs:annotation>
							<xs:documentation>structure for reporting a complex data quality result</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="example" type="dqm:MeasureDescription_PropertyType" minOccurs="0" maxOccurs="unbounded" id="ISO19157-1.1.087_ISO19157-1.1.102">
						<xs:annotation>
							<xs:documentation>illustration of the use of a data quality measure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="basicMeasure" type="dqm:BasicMeasure_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.088_ISO19157-1.1.091">
						<xs:annotation>
							<xs:documentation>Name of the data quality basic measure from which the data quality measure is derived.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sourceReference" type="dqm:SourceReference_PropertyType" minOccurs="0" maxOccurs="unbounded" id="ISO19157-1.1.089_ISO19157-1.1.106">
						<xs:annotation>
							<xs:documentation>Reference to the source of the data quality measure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parameter" type="dqm:MeasureParameter_PropertyType" minOccurs="0" maxOccurs="unbounded" id="ISO19157-1.1.090_ISO19157-1.1.096">
						<xs:annotation>
							<xs:documentation>Auxiliary variable used by the data quality measure, including its name, definition and optionally its description.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="BasicMeasure_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dqm:BasicMeasure"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="BasicMeasure" substitutionGroup="pir:RegisterItem" type="dqm:BasicMeasure_Type" id="ISO19157-1.1.091"/>
	<!-- ........................................................................ -->
	<xs:complexType name="BasicMeasure_Type">
		<xs:annotation>
			<xs:documentation>data quality basic measure</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="pir:RegisterItem_Type">
				<xs:sequence>
					<xs:element name="name" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.092_ISO19103.1.CharacterString">
						<xs:annotation>
							<xs:documentation>name of the data quality basic measure applied to the data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="definition" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.093_ISO19103.1.CharacterString">
						<xs:annotation>
							<xs:documentation>definition of the data quality basic measure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="example" type="dqm:MeasureDescription_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.094_ISO19157-1.1.102">
						<xs:annotation>
							<xs:documentation>illustration of the use of a data quality measure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valueType" type="gco:TypeName_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.095_ISO19103.1.TypeName">
						<xs:annotation>
							<xs:documentation>value type for the result of the basic measure (shall be one of the data types defined in ISO/TS 19103:2005)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MeasureParameter_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dqm:MeasureParameter"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MeasureParameter" type="dqm:MeasureParameter_Type" id="ISO19157-1.1.096"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MeasureParameter_Type">
		<xs:annotation>
			<xs:documentation>data quality parameter</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="pir:RegisterItem_Type">
				<xs:sequence>
					<xs:element name="name" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.097_ISO19103.1.CharacterString">
						<xs:annotation>
							<xs:documentation>name of the data quality parameter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="definition" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.098_ISO19103.1.CharacterString">
						<xs:annotation>
							<xs:documentation>definition of the data quality parameter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="dqm:MeasureDescription_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.099_ISO19157-1.1.102">
						<xs:annotation>
							<xs:documentation>description of the data quality parameter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valueType" type="gco:TypeName_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.100_ISO19103.1.CharacterString">
						<xs:annotation>
							<xs:documentation>value type of the data quality parameter (shall be one of the data types defined in ISO/TS 19103:2005)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valueStructure" type="dqm:ValueStructure_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.101_ISO19157-1.1.Table.C.14">
						<xs:annotation>
							<xs:documentation>structure of the data quality parameter</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MeasureDescription_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dqm:MeasureDescription"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MeasureDescription" type="dqm:MeasureDescription_Type" id="ISO19157-1.1.102"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MeasureDescription_Type">
		<xs:annotation>
			<xs:documentation>data quality measure description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="textDescription" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.103_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>text description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extendedDescription" type="mcc:MD_BrowseGraphic_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.104_ISO19115-1.1.437">
				<xs:annotation>
					<xs:documentation>illustration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formula" type="dqm:FormulaType_PropertyType" minOccurs="0" maxOccurs="unbounded" id="ISO19157-1.1.105_ISO19157-1.1.108">
				<xs:annotation>
					<xs:documentation>description of formulas for the quality measure</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="SourceReference_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dqm:SourceReference"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="SourceReference" type="dqm:SourceReference_Type" id="ISO19157-1.1.106"/>
	<!-- ........................................................................ -->
	<xs:complexType name="SourceReference_Type">
		<xs:annotation>
			<xs:documentation>reference to the source of the data quality measure</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="citation" type="cit:CI_Citation_PropertyType" minOccurs="1" maxOccurs="1"  id="ISO19157-1.1.107_ISO19115-1.1.361">
				<xs:annotation>
					<xs:documentation>reference to the source</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FormulaType_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dqm:FormulaType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FormulaType" type="dqm:FormulaType_Type" id="ISO19157-1.1.108"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FormulaType_Type">
		<xs:annotation>
			<xs:documentation>description of the formula</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="key" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.109_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>explanation of the formula</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="dqm:FormulaLanguage_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.110_ISO19157-1.1.Table.C.15">
				<xs:annotation>
					<xs:documentation>explanation of the formula</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="languageVersion" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.111_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>version of the language</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mathematicalFormula" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.112_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>the formula in chosen language</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- =========================================================================== -->
	<xs:complexType name="ValueStructure_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dqm:ValueStructure"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ValueStructure" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type" id="ISO19157-1.1.Table.C.14"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ValueStructure">
		<xs:annotation>
			<xs:documentation>Structure of the data quality parameter.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>finite, unordered collection of related items (objects or values) that may be repeated (ISO 19103)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coverage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>feature that acts as a function to return values from its range for any direct position within its spatial, temporal or spatiotemporal domain (ISO 19123-1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="matrix" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>rectangular array of numbers (ISO/TS 19129)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sequence" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>finite, ordered collection of related items (objects or values) that may be repeated (ISO 19103)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="set" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>unordered collection of related items (objects or values) with no repetition (ISO 19103)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="table" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>an arrangement of data in which each item may be identified by means of arguments or keys (ISO/IEC 2382)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FormulaLanguage_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dqm:FormulaLanguage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FormulaLanguage" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type" id="ISO19157-1.1.Table.C.15"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FormulaLanguage">
		<xs:annotation>
			<xs:documentation>the coding language of the formula</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MathJSON" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>JSON-based format to represent math formulas (w3c.gituhub)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MathML" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>XML-based language for describing mathematical notation (mozilla.org)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenMath" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>extensible standard for representing the semantics of mathematical objects (openmath.org)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
