web/xml/schemas/iso19115/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ISO 19118 Encoding DTD - Automatically produced
  XSL Processor: Microsoft version 1
  XSLT script : CFG2DTD.xsl
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- Formatted as - CCYYMMDD -->
  <!-- Formatted as - CCYYMMDDTHHMMSS -->
  <!-- Formatted as - THHMMSS -->
  <xs:complexType name="Measure">
    <xs:sequence>
      <xs:element ref="value"/>
      <xs:element ref="uom"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Distance">
    <xs:sequence>
      <xs:element ref="value"/>
      <xs:element ref="uom"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NumberTypes" abstract="true" type="xs:string"/>
  <xs:complexType name="NumberTypes">
    <xs:sequence>
      <xs:element ref="NumberTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TypeName">
    <xs:complexContent>
      <xs:extension base="element_scope">
        <xs:sequence>
          <xs:element ref="aName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocalName">
    <xs:complexContent>
      <xs:extension base="element_scope"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ScopedName">
    <xs:complexContent>
      <xs:extension base="element_scope"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MemberName">
    <xs:complexContent>
      <xs:extension base="element_scope">
        <xs:sequence>
          <xs:element ref="aName"/>
          <xs:element ref="attributeType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenericNameTypes" abstract="true"/>
  <xs:complexType name="GenericNameTypes">
    <xs:sequence>
      <xs:element ref="GenericNameTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitOfMeasureTypes" abstract="true"/>
  <xs:complexType name="UnitOfMeasureTypes">
    <xs:sequence>
      <xs:element ref="UnitOfMeasureTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UomLength">
    <xs:sequence>
      <xs:element ref="uomName"/>
      <xs:element ref="conversionToISOstandarUnit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UomAngle">
    <xs:sequence>
      <xs:element ref="uomName"/>
      <xs:element ref="conversionToISOstandarUnit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UomScale">
    <xs:sequence>
      <xs:element ref="uomName"/>
      <xs:element ref="conversionToISOstandarUnit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UomTime">
    <xs:sequence>
      <xs:element ref="uomName"/>
      <xs:element ref="conversionToISOstandarUnit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UomArea">
    <xs:sequence>
      <xs:element ref="uomName"/>
      <xs:element ref="conversionToISOstandarUnit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UomVolume">
    <xs:sequence>
      <xs:element ref="uomName"/>
      <xs:element ref="conversionToISOstandarUnit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UomVelocity">
    <xs:sequence>
      <xs:element ref="uomName"/>
      <xs:element ref="conversionToISOstandarUnit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GM_ObjectTypes" abstract="true" type="GM_Polygon"/>
  <xs:complexType name="GM_ObjectTypes">
    <xs:sequence>
      <xs:element ref="GM_ObjectTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GM_Polygon">
    <xs:sequence>
      <xs:element minOccurs="0" ref="MdCoRefSys"/>
      <xs:element ref="coordinates"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GM_Point">
    <xs:sequence>
      <xs:element minOccurs="0" ref="MdCoRefSys"/>
      <xs:element ref="coordinates"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TM_PeriodDuration">
    <xs:sequence>
      <xs:element ref="designator"/>
      <xs:element minOccurs="0" ref="years"/>
      <xs:element minOccurs="0" ref="months"/>
      <xs:element minOccurs="0" ref="days"/>
      <xs:element minOccurs="0" ref="timeIndicator"/>
      <xs:element minOccurs="0" ref="hours"/>
      <xs:element minOccurs="0" ref="minutes"/>
      <xs:element minOccurs="0" ref="seconds"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TM_Primitive" abstract="true" type="TM_GeometricPrimitive"/>
  <xs:complexType name="TM_Primitive">
    <xs:sequence>
      <xs:element ref="TM_Primitive"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TM_GeometricPrimitive">
    <xs:choice>
      <xs:element ref="TM_Instant"/>
      <xs:element ref="TM_Period"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TM_Instant">
    <xs:complexContent>
      <xs:extension base="element_tmPosition"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TM_Period">
    <xs:sequence>
      <xs:element ref="begin"/>
      <xs:element ref="end"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TM_PositionTypes" abstract="true"/>
  <xs:complexType name="TM_PositionTypes">
    <xs:sequence>
      <xs:element ref="TM_PositionTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TM_DateAndTime">
    <xs:complexContent>
      <xs:extension base="element_calDate">
        <xs:sequence>
          <xs:element ref="clkTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TM_CalDate">
    <xs:complexContent>
      <xs:extension base="element_calDate"/>
    </xs:complexContent>
  </xs:complexType>
  <!-- For TM_CalDate, Gregorian calendar is assumed to be used -->
  <xs:complexType name="TM_ClockTime">
    <xs:sequence>
      <xs:element ref="clkTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SC_VerticalDatum" abstract="true" type="RS_Identifier"/>
  <xs:complexType name="SC_VerticalDatum">
    <xs:sequence>
      <xs:element ref="SC_VerticalDatum"/>
    </xs:sequence>
  </xs:complexType>
  <!-- PART 5 - TYPE ENTITY DECLARATIONS -->
  <!-- Metadata Entity -->
  <xs:complexType name="Metadata">
    <xs:sequence>
      <xs:element minOccurs="0" ref="mdFileID"/>
      <xs:element minOccurs="0" ref="mdLang"/>
      <xs:element minOccurs="0" ref="mdChar"/>
      <xs:element minOccurs="0" ref="mdParentID"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mdHrLv"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mdHrLvName"/>
      <xs:element ref="mdContact"/>
      <xs:element ref="mdDateSt"/>
      <xs:element minOccurs="0" ref="mdStanName"/>
      <xs:element minOccurs="0" ref="mdStanVer"/>
      <xs:element minOccurs="0" ref="distInfo"/>
      <xs:element maxOccurs="unbounded" ref="dataIdInfo"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="appSchInfo"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="porCatInfo"/>
      <xs:element minOccurs="0" ref="mdMaint"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mdConst"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="dqInfo"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="spatRepInfo"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="refSysInfo"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="contInfo"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mdExtInfo"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Identification Entities -->
  <xs:complexType name="DataIdent">
    <xs:sequence>
      <xs:element ref="idCitation"/>
      <xs:element ref="idAbs"/>
      <xs:element minOccurs="0" ref="idPurp"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="idCredit"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="status"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="idPoC"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="resConst"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="dsFormat"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="idSpecUse"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="resMaint"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="descKeys"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="graphOver"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="spatRpType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="dataScale"/>
      <xs:element maxOccurs="unbounded" ref="dataLang"/>
      <xs:element minOccurs="0" ref="dataChar"/>
      <xs:element maxOccurs="unbounded" ref="tpCat"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="geoBox"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="geoDesc"/>
      <xs:element minOccurs="0" ref="envirDesc"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="dataExt"/>
      <xs:element minOccurs="0" ref="suppInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BrowGraph">
    <xs:sequence>
      <xs:element ref="bgFileName"/>
      <xs:element minOccurs="0" ref="bgFileDesc"/>
      <xs:element minOccurs="0" ref="bgFileType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepFract" abstract="true" type="xs:string"/>
  <xs:complexType name="RepFract">
    <xs:sequence>
      <xs:element ref="RepFract"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resol" abstract="true"/>
  <xs:complexType name="Resol">
    <xs:sequence>
      <xs:element ref="Resol"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Usage">
    <xs:sequence>
      <xs:element ref="specUsage"/>
      <xs:element minOccurs="0" ref="usageDate"/>
      <xs:element minOccurs="0" ref="usrDetLim"/>
      <xs:element maxOccurs="unbounded" ref="usrCntInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Keywords">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="keyword"/>
      <xs:element minOccurs="0" ref="keyTyp"/>
      <xs:element minOccurs="0" ref="thesaName"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Constraint Entities -->
  <xs:element name="ConstsTypes" abstract="true"/>
  <xs:complexType name="ConstsTypes">
    <xs:sequence>
      <xs:element ref="ConstsTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="useLimit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegConsts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="useLimit"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="accessConsts"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="useConsts"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="othConsts"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecConsts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="useLimit"/>
      <xs:element ref="class"/>
      <xs:element minOccurs="0" ref="userNote"/>
      <xs:element minOccurs="0" ref="classSys"/>
      <xs:element minOccurs="0" ref="handDesc"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Data Quality Entities -->
  <xs:complexType name="PrcessStep">
    <xs:sequence>
      <xs:element ref="stepDesc"/>
      <xs:element minOccurs="0" ref="stepRat"/>
      <xs:element minOccurs="0" ref="stepDateTm"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="stepProc"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="stepSrc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Source">
    <xs:sequence>
      <xs:element minOccurs="0" ref="srcDesc"/>
      <xs:element minOccurs="0" ref="srcScale"/>
      <xs:element minOccurs="0" ref="srcRefSys"/>
      <xs:element minOccurs="0" ref="srcCitatn"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="srcExt"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="srcStep"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Lineage">
    <xs:sequence>
      <xs:element minOccurs="0" ref="statement"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="dataSource"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="prcStep"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultTypes" abstract="true"/>
  <xs:complexType name="ResultTypes">
    <xs:sequence>
      <xs:element ref="ResultTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConResult">
    <xs:sequence>
      <xs:element ref="conSpec"/>
      <xs:element ref="conExpl"/>
      <xs:element ref="conPass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuanResult">
    <xs:sequence>
      <xs:element minOccurs="0" ref="quanValType"/>
      <xs:element minOccurs="0" ref="quanValUnit"/>
      <xs:element minOccurs="0" ref="errStat"/>
      <xs:element maxOccurs="unbounded" ref="quanValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DQElementTypes" abstract="true"/>
  <xs:complexType name="DQElementTypes">
    <xs:sequence>
      <xs:element ref="DQElementTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQTempValid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQTempConsis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQAccTimeMeas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQQuanAttAcc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQNonQuanAttAcc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQThemClassCor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQRelIntPosAcc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQGridDataPosAcc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQAbsExtPosAcc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQTopConsis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQFormConsis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQDomConsis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQConcConsis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQCompOm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQCompComm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="measName"/>
      <xs:element minOccurs="0" ref="measId"/>
      <xs:element minOccurs="0" ref="measureDescription"/>
      <xs:element minOccurs="0" ref="evalMethType"/>
      <xs:element minOccurs="0" ref="evalMethDesc"/>
      <xs:element minOccurs="0" ref="evaluationProcedure"/>
      <xs:element minOccurs="0" ref="measDateTm"/>
      <xs:element maxOccurs="unbounded" ref="measResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataQual">
    <xs:sequence>
      <xs:element ref="dqScope"/>
      <xs:element minOccurs="0" ref="dataLineage"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="dqReport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DQScope">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="scpLvl"/>
      <xs:element minOccurs="0" ref="scpExt"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="scpLvlDesc"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Maintenance Entities -->
  <xs:complexType name="MaintInfo">
    <xs:sequence>
      <xs:element ref="maintFreq"/>
      <xs:element minOccurs="0" ref="dateNext"/>
      <xs:element minOccurs="0" ref="usrDefFreq"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="maintScp"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="upScpDesc"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="maintNote"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScpDesc" abstract="true" type="xs:string"/>
  <xs:complexType name="ScpDesc">
    <xs:sequence>
      <xs:element ref="ScpDesc"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Spatial Representation Entities -->
  <xs:element name="SpatRepTypes" abstract="true"/>
  <xs:complexType name="SpatRepTypes">
    <xs:sequence>
      <xs:element ref="SpatRepTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GridSpatRep">
    <xs:sequence>
      <xs:element ref="numDims"/>
      <xs:element ref="axDimProps"/>
      <xs:element ref="cellGeo"/>
      <xs:element ref="tranParaAv"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VectSpatRep">
    <xs:sequence>
      <xs:element minOccurs="0" ref="topLvl"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="geometObjs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Georef">
    <xs:sequence>
      <xs:element ref="numDims"/>
      <xs:element ref="axDimProps"/>
      <xs:element ref="cellGeo"/>
      <xs:element ref="tranParaAv"/>
      <xs:element ref="ctrlPtAv"/>
      <xs:element ref="orieParaAv"/>
      <xs:element minOccurs="0" ref="orieParaDesc"/>
      <xs:element ref="georefPars"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="paraCit"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dimen">
    <xs:sequence>
      <xs:element ref="dimName"/>
      <xs:element ref="dimSize"/>
      <xs:element minOccurs="0" ref="dimResol"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Georect">
    <xs:sequence>
      <xs:element ref="numDims"/>
      <xs:element ref="axDimProps"/>
      <xs:element ref="cellGeo"/>
      <xs:element ref="tranParaAv"/>
      <xs:element ref="chkPtAv"/>
      <xs:element minOccurs="0" ref="chkPtDesc"/>
      <xs:element ref="cornerPts"/>
      <xs:element minOccurs="0" ref="centerPt"/>
      <xs:element ref="ptInPixel"/>
      <xs:element minOccurs="0" ref="transDimDesc"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="transDimMap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeometObjs">
    <xs:sequence>
      <xs:element ref="geoObjTyp"/>
      <xs:element minOccurs="0" ref="geoObjCnt"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Reference System Entities -->
  <xs:element name="RefSystemTypes" abstract="true"/>
  <xs:complexType name="RefSystemTypes">
    <xs:sequence>
      <xs:element ref="RefSystemTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RefSystem">
    <xs:sequence>
      <xs:element minOccurs="0" ref="refSysID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MdCoRefSys">
    <xs:sequence>
      <xs:element minOccurs="0" ref="refSysID"/>
      <xs:element minOccurs="0" ref="projection"/>
      <xs:element minOccurs="0" ref="ellipsoid"/>
      <xs:element minOccurs="0" ref="datum"/>
      <xs:element minOccurs="0" ref="projParas"/>
      <xs:element minOccurs="0" ref="ellParas"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProjParas">
    <xs:sequence>
      <xs:element minOccurs="0" ref="zone"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="stanPara"/>
      <xs:element minOccurs="0" ref="longCntMer"/>
      <xs:element minOccurs="0" ref="latProjOri"/>
      <xs:element minOccurs="0" ref="falEastng"/>
      <xs:element minOccurs="0" ref="falNorthng"/>
      <xs:element minOccurs="0" ref="falENUnits"/>
      <xs:element minOccurs="0" ref="sclFacEqu"/>
      <xs:element minOccurs="0" ref="hgtProsPt"/>
      <xs:element minOccurs="0" ref="longProjCnt"/>
      <xs:element minOccurs="0" ref="latProjCnt"/>
      <xs:element minOccurs="0" ref="sclFacCnt"/>
      <xs:element minOccurs="0" ref="stVrLongPl"/>
      <xs:element minOccurs="0" ref="sclFacPrOr"/>
      <xs:element minOccurs="0" ref="obLnAziPars"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="obLnPtPars"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObLineAzi">
    <xs:sequence>
      <xs:element ref="aziAngle"/>
      <xs:element ref="aziPtLong"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObLinePt">
    <xs:sequence>
      <xs:element ref="obLineLat"/>
      <xs:element ref="obLineLong"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EllParas">
    <xs:sequence>
      <xs:element ref="semiMajAx"/>
      <xs:element ref="axisUnits"/>
      <xs:element minOccurs="0" ref="denFlatRat"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Content Entities -->
  <xs:element name="ContInfoTypes" abstract="true"/>
  <xs:complexType name="ContInfoTypes">
    <xs:sequence>
      <xs:element ref="ContInfoTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FetCatDesc">
    <xs:sequence>
      <xs:element minOccurs="0" ref="compCode"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="catLang"/>
      <xs:element ref="incWithDS"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="catFetTypes"/>
      <xs:element maxOccurs="unbounded" ref="catCitation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CovDesc">
    <xs:sequence>
      <xs:element ref="attDesc"/>
      <xs:element ref="contentTyp"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="covDim"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImgDesc">
    <xs:sequence>
      <xs:element ref="attDesc"/>
      <xs:element ref="contentTyp"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="covDim"/>
      <xs:element minOccurs="0" ref="illElevAng"/>
      <xs:element minOccurs="0" ref="illAziAng"/>
      <xs:element minOccurs="0" ref="imagCond"/>
      <xs:element minOccurs="0" ref="imagQuCode"/>
      <xs:element minOccurs="0" ref="cloudCovPer"/>
      <xs:element minOccurs="0" ref="prcTypCde"/>
      <xs:element minOccurs="0" ref="cmpGenQuan"/>
      <xs:element minOccurs="0" ref="trianInd"/>
      <xs:element minOccurs="0" ref="radCalDatAv"/>
      <xs:element minOccurs="0" ref="camCalInAv"/>
      <xs:element minOccurs="0" ref="filmDistInAv"/>
      <xs:element minOccurs="0" ref="lensDistInAv"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MdIdentTypes" abstract="true"/>
  <xs:complexType name="MdIdentTypes">
    <xs:sequence>
      <xs:element ref="MdIdentTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RS_Identifier">
    <xs:sequence>
      <xs:element minOccurs="0" ref="identAuth"/>
      <xs:element ref="identCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MdIdent">
    <xs:sequence>
      <xs:element minOccurs="0" ref="identAuth"/>
      <xs:element ref="identCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RangeDimTypes" abstract="true"/>
  <xs:complexType name="RangeDimTypes">
    <xs:sequence>
      <xs:element ref="RangeDimTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RangeDim">
    <xs:sequence>
      <xs:element minOccurs="0" ref="seqID"/>
      <xs:element minOccurs="0" ref="dimDescrp"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Band">
    <xs:sequence>
      <xs:element minOccurs="0" ref="seqID"/>
      <xs:element minOccurs="0" ref="dimDescrp"/>
      <xs:element minOccurs="0" ref="maxVal"/>
      <xs:element minOccurs="0" ref="minVal"/>
      <xs:element minOccurs="0" ref="valUnit"/>
      <xs:element minOccurs="0" ref="pkResp"/>
      <xs:element minOccurs="0" ref="bitsPerVal"/>
      <xs:element minOccurs="0" ref="toneGrad"/>
      <xs:element minOccurs="0" ref="sclFac"/>
      <xs:element minOccurs="0" ref="offset"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sequence_Dimen_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="Dimen"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Portrayal Catalogue Entity -->
  <xs:complexType name="PortCatRef">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="portCatCit"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Distribution Entities -->
  <xs:complexType name="Medium">
    <xs:sequence>
      <xs:element minOccurs="0" ref="medName"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="medDensity"/>
      <xs:element minOccurs="0" ref="medDenUnits"/>
      <xs:element minOccurs="0" ref="medVol"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="medFormat"/>
      <xs:element minOccurs="0" ref="medNote"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DigTranOps">
    <xs:sequence>
      <xs:element minOccurs="0" ref="unitsODist"/>
      <xs:element minOccurs="0" ref="transSize"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="onLineSrc"/>
      <xs:element minOccurs="0" ref="onLineMed"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StanOrdProc">
    <xs:sequence>
      <xs:element minOccurs="0" ref="resFees"/>
      <xs:element minOccurs="0" ref="planAvDtTm"/>
      <xs:element minOccurs="0" ref="ordInstr"/>
      <xs:element minOccurs="0" ref="ordTurn"/>
    </xs:sequence>
  </xs:complexType>
  <!--
    RG: was:
    <!ENTITY % Distributor '(distorCont, distorFormat+, distorOrdPrc*, distroTran*)'>
  -->
  <xs:complexType name="Distributor">
    <xs:sequence>
      <xs:element ref="distorCont"/>
      <xs:element maxOccurs="unbounded" ref="distorFormat"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="distorOrdPrc"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="distorTran"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Distrib">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="distributor"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="distTranOps"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Format">
    <xs:sequence>
      <xs:element ref="formatName"/>
      <xs:element ref="formatVer"/>
      <xs:element minOccurs="0" ref="formatAmdNum"/>
      <xs:element minOccurs="0" ref="formatSpec"/>
      <xs:element minOccurs="0" ref="fileDecmTech"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Extension Entities -->
  <xs:complexType name="ExtEleInfo">
    <xs:sequence>
      <xs:element ref="extEleName"/>
      <xs:element minOccurs="0" ref="extShortName"/>
      <xs:element minOccurs="0" ref="extDomcode"/>
      <xs:element ref="extEleDef"/>
      <xs:element minOccurs="0" ref="extEleOb"/>
      <xs:element minOccurs="0" ref="extEleCond"/>
      <xs:element ref="eleDatatype"/>
      <xs:element minOccurs="0" ref="extEleMxOc"/>
      <xs:element minOccurs="0" ref="extEleDomVal"/>
      <xs:element maxOccurs="unbounded" ref="extEleParEnt"/>
      <xs:element ref="extEleRule"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="extEleRat"/>
      <xs:element maxOccurs="unbounded" ref="extEleSrc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MdExtInfo">
    <xs:sequence>
      <xs:element minOccurs="0" ref="extOnRes"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="extEleInfo"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Application Schema Entities -->
  <xs:complexType name="AppSchInfo">
    <xs:sequence>
      <xs:element ref="asName"/>
      <xs:element ref="asSchLang"/>
      <xs:element ref="asCstLang"/>
      <xs:element minOccurs="0" ref="asAscii"/>
      <xs:element minOccurs="0" ref="asGraFile"/>
      <xs:element minOccurs="0" ref="asSwDevFile"/>
      <xs:element minOccurs="0" ref="asSwDevFiFt"/>
      <xs:element ref="fetCatSup"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeatTypList">
    <xs:sequence>
      <xs:element ref="spatObj"/>
      <xs:element ref="spatSchName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpatAttSup">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="featTypeList"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Extent Entities -->
  <xs:element name="TempExtentTypes" abstract="true"/>
  <xs:complexType name="TempExtentTypes">
    <xs:sequence>
      <xs:element ref="TempExtentTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TempExtent">
    <xs:complexContent>
      <xs:extension base="element_exTemp"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VertExtent">
    <xs:sequence>
      <xs:element ref="vertMinVal"/>
      <xs:element ref="vertMaxVal"/>
      <xs:element ref="vertUoM"/>
      <xs:element ref="vertDatum"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BoundPoly">
    <xs:sequence>
      <xs:element minOccurs="0" ref="exTypeCode"/>
      <xs:element maxOccurs="unbounded" ref="polygon"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Extent">
    <xs:sequence>
      <xs:element minOccurs="0" ref="exDesc"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="vertEle"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tempEle"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="geoEle"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoExtentTypes" abstract="true"/>
  <xs:complexType name="GeoExtentTypes">
    <xs:sequence>
      <xs:element ref="GeoExtentTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeoBndBox">
    <xs:sequence>
      <xs:element ref="westBL"/>
      <xs:element ref="eastBL"/>
      <xs:element ref="southBL"/>
      <xs:element ref="northBL"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpatTempEx">
    <xs:complexContent>
      <xs:extension base="element_exTemp">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="exSpat"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GeoDesc">
    <xs:sequence>
      <xs:element minOccurs="0" ref="exTypeCode"/>
      <xs:element ref="geoId"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Citation Entities -->
  <xs:complexType name="RespParty">
    <xs:sequence>
      <xs:element minOccurs="0" ref="rpIndName"/>
      <xs:element minOccurs="0" ref="rpOrgName"/>
      <xs:element minOccurs="0" ref="rpPosName"/>
      <xs:element minOccurs="0" ref="rpCntInfo"/>
      <xs:element ref="role"/>
    </xs:sequence>
  </xs:complexType>
  <!--
    RG: was
    <!ENTITY % Citation '(resTitle, resAltTitle*, resRefDate+, resEd?, resEdDate?, citId*, citIdType*, citRespParty*,presForm*, datasetSeries?, otherCitDet?, collTitle?, isbn?, issn?)'>
  -->
  <xs:complexType name="Citation">
    <xs:sequence>
      <xs:element ref="resTitle"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="resAltTitle"/>
      <xs:element maxOccurs="unbounded" ref="resRefDate"/>
      <xs:element minOccurs="0" ref="resEd"/>
      <xs:element minOccurs="0" ref="resEdDate"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="citId"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="citIdType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="citRespParty"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="presForm"/>
      <xs:element minOccurs="0" ref="datasetSeries"/>
      <xs:element minOccurs="0" ref="otherCitDet"/>
      <xs:element minOccurs="0" ref="collTitle"/>
      <xs:element minOccurs="0" ref="isbn"/>
      <xs:element minOccurs="0" ref="issn"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="delPoint"/>
      <xs:element minOccurs="0" ref="city"/>
      <xs:element minOccurs="0" ref="adminArea"/>
      <xs:element minOccurs="0" ref="postCode"/>
      <xs:element minOccurs="0" ref="country"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="eMailAdd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OnlineRes">
    <xs:sequence>
      <xs:element ref="linkage"/>
      <xs:element minOccurs="0" ref="protocol"/>
      <xs:element minOccurs="0" ref="appProfile"/>
      <xs:element minOccurs="0" ref="orName"/>
      <xs:element minOccurs="0" ref="orDesc"/>
      <xs:element minOccurs="0" ref="orFunct"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" ref="cntPhone"/>
      <xs:element minOccurs="0" ref="cntAddress"/>
      <xs:element minOccurs="0" ref="cntOnLineRes"/>
      <xs:element minOccurs="0" ref="cntHours"/>
      <xs:element minOccurs="0" ref="cntInstr"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Telephone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="voiceNum"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="faxNum"/>
    </xs:sequence>
  </xs:complexType>
  <!--
    RG: was
    <!ENTITY % DateRef '(refDate, dateType)'>
  -->
  <xs:complexType name="DateRef">
    <xs:sequence>
      <xs:element ref="refDate"/>
      <xs:element ref="refDateType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatasetSeries">
    <xs:sequence>
      <xs:element minOccurs="0" ref="seriesName"/>
      <xs:element minOccurs="0" ref="issId"/>
      <xs:element minOccurs="0" ref="artPage"/>
    </xs:sequence>
  </xs:complexType>
  <!--  PART 1 - CSL DECLARATIONS -->
  <!--
    The following elements and entites have been taken from the Conceptual Schema Language (19103) DTD.
    They do not make up that DTD in its entirety, and are placed here for ease of use of this DTD
  -->
  <xs:element name="value" type="NumberTypes"/>
  <xs:element name="Integer" substitutionGroup="NumberTypes"/>
  <xs:element name="Decimal" substitutionGroup="NumberTypes"/>
  <xs:element name="Real" substitutionGroup="NumberTypes"/>
  <xs:element name="TypeName" substitutionGroup="GenericNameTypes" type="TypeName"/>
  <xs:element name="LocalName" substitutionGroup="GenericNameTypes" type="LocalName"/>
  <xs:element name="ScopedName" substitutionGroup="GenericNameTypes" type="ScopedName"/>
  <xs:element name="MemberName" substitutionGroup="GenericNameTypes" type="MemberName"/>
  <xs:complexType name="element_scope">
    <xs:sequence>
      <xs:element ref="scope"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="scope" type="xs:string"/>
  <!-- "scope" is the name of the namespace -->
  <xs:element name="aName" type="xs:string"/>
  <xs:element name="attributeType" type="TypeName"/>
  <xs:element name="uom" type="UnitOfMeasureTypes"/>
  <xs:element name="UomLength" substitutionGroup="UnitOfMeasureTypes" type="UomLength"/>
  <xs:element name="UomAngle" substitutionGroup="UnitOfMeasureTypes" type="UomAngle"/>
  <xs:element name="UomScale" substitutionGroup="UnitOfMeasureTypes" type="UomScale"/>
  <xs:element name="UomTime" substitutionGroup="UnitOfMeasureTypes" type="UomTime"/>
  <xs:element name="UomArea" substitutionGroup="UnitOfMeasureTypes" type="UomArea"/>
  <xs:element name="UomVolume" substitutionGroup="UnitOfMeasureTypes" type="UomVolume"/>
  <xs:element name="UomVelocity" substitutionGroup="UnitOfMeasureTypes" type="UomVelocity"/>
  <xs:element name="uomName" type="xs:string"/>
  <xs:element name="conversionToISOstandarUnit" type="xs:string"/>
  <!-- PART 2 : SPATIAL DECLARATIONS -->
  <!--
    The following elements and entites have been taken from the Spatial Schema (19107) DTD. They do not make
    up that DTD in its entirety, and are placed here for ease of use of this DTD
  -->
  <xs:element name="coordinates">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist_coordinates"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_coordinates">
    <xs:attribute name="tupleSep" default="space">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="space"/>
          <xs:enumeration value="comma"/>
          <xs:enumeration value="period"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="coordSep" default="comma">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="space"/>
          <xs:enumeration value="comma"/>
          <xs:enumeration value="period"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="decimalChar" default="period">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="period"/>
          <xs:enumeration value="comma"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="dimension" default="2">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="2"/>
          <xs:enumeration value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="precision" default="single">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="single"/>
          <xs:enumeration value="double"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_GM_Polygon">
    <xs:sequence>
      <xs:element ref="GM_Polygon"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GM_Polygon" substitutionGroup="GM_ObjectTypes"/>
  <xs:element name="GM_Point" type="GM_Point"/>
  <!-- PART 3: TEMPORAL DECLARATIONS -->
  <!--
    The following elements and entites have been taken from the Temporal (19108) DTD. They do not make up that
    DTD in its entirety, and are placed here for ease of use of this DTD
  -->
  <xs:element name="designator" type="xs:string"/>
  <xs:element name="years" type="xs:string"/>
  <xs:element name="months" type="xs:string"/>
  <xs:element name="days" type="xs:string"/>
  <xs:element name="timeIndicator" type="xs:string"/>
  <xs:element name="hours" type="xs:string"/>
  <xs:element name="minutes" type="xs:string"/>
  <xs:element name="seconds" type="xs:string"/>
  <xs:element name="TM_CalDate" substitutionGroup="TM_PositionTypes" type="TM_CalDate"/>
  <xs:element name="TM_ClockTime" substitutionGroup="TM_PositionTypes" type="TM_ClockTime"/>
  <xs:element name="TM_DateAndTime" substitutionGroup="TM_PositionTypes" type="TM_DateAndTime"/>
  <xs:complexType name="element_TM_GeometricPrimitive">
    <xs:sequence>
      <xs:element ref="TM_GeometricPrimitive"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TM_GeometricPrimitive" substitutionGroup="TM_Primitive"/>
  <xs:element name="TM_Instant" type="TM_Instant"/>
  <xs:element name="TM_Period" type="TM_Period"/>
  <xs:complexType name="element_tmPosition">
    <xs:sequence>
      <xs:element ref="tmPosition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tmPosition" type="TM_PositionTypes"/>
  <xs:complexType name="element_calDate">
    <xs:sequence>
      <xs:element ref="calDate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="calDate" type="xs:string"/>
  <xs:element name="clkTime" type="xs:string"/>
  <xs:element name="begin" type="xs:string"/>
  <xs:element name="end" type="xs:string"/>
  <!--  PART 4 - SPATIAL REFERENCE BY COORDINATES DECLARATIONS -->
  <xs:complexType name="element_datumID">
    <xs:sequence>
      <xs:element ref="datumID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="datumID" substitutionGroup="SC_VerticalDatum"/>
  <!-- PART 6 - ELEMENT DECLARATIONS -->
  <!-- Metadata Entity Set Elements -->
  <xs:element name="Metadata" type="Metadata"/>
  <xs:element name="mdFileID" type="xs:string"/>
  <xs:element name="mdLang" type="element_languageCode"/>
  <xs:element name="mdChar" type="element_CharSetCd"/>
  <xs:element name="mdParentID" type="xs:string"/>
  <xs:element name="mdHrLv" type="element_ScopeCd"/>
  <xs:element name="mdHrLvName" type="xs:string"/>
  <xs:element name="mdContact" type="RespParty"/>
  <xs:element name="mdDateSt" type="xs:string"/>
  <xs:element name="mdStanName" type="xs:string"/>
  <xs:element name="mdStanVer" type="xs:string"/>
  <xs:element name="distInfo" type="Distrib"/>
  <xs:element name="dataIdInfo" type="DataIdent"/>
  <xs:element name="appSchInfo" type="AppSchInfo"/>
  <xs:element name="porCatInfo" type="PortCatRef"/>
  <xs:element name="mdMaint" type="MaintInfo"/>
  <xs:element name="mdConst" type="ConstsTypes"/>
  <xs:element name="dqInfo" type="DataQual"/>
  <xs:element name="spatRepInfo" type="SpatRepTypes"/>
  <xs:element name="refSysInfo" type="RefSystemTypes"/>
  <xs:element name="contInfo" type="ContInfoTypes"/>
  <xs:element name="mdExtInfo" type="MdExtInfo"/>
  <!-- Identification Elements -->
  <xs:element name="idCitation" type="Citation"/>
  <xs:element name="idAbs" type="xs:string"/>
  <xs:element name="idPurp" type="xs:string"/>
  <xs:element name="idCredit" type="xs:string"/>
  <xs:element name="status" type="element_ProgCd"/>
  <xs:element name="idPoC" type="RespParty"/>
  <xs:element name="resConst" type="ConstsTypes"/>
  <xs:element name="dsFormat" type="Format"/>
  <xs:element name="idSpecUse" type="Usage"/>
  <xs:element name="resMaint" type="MaintInfo"/>
  <xs:element name="descKeys" type="Keywords"/>
  <xs:element name="graphOver" type="BrowGraph"/>
  <xs:element name="spatRpType" type="element_SpatRepTypCd"/>
  <xs:element name="dataScale" type="Resol"/>
  <xs:element name="dataLang" type="element_languageCode"/>
  <xs:element name="dataChar" type="element_CharSetCd"/>
  <xs:element name="tpCat" type="element_TopicCatCd"/>
  <xs:element name="geoBox" type="GeoBndBox"/>
  <xs:element name="geoDesc" type="GeoDesc"/>
  <xs:element name="envirDesc" type="xs:string"/>
  <xs:element name="dataExt" type="Extent"/>
  <xs:element name="suppInfo" type="xs:string"/>
  <xs:element name="bgFileName" type="xs:string"/>
  <xs:element name="bgFileDesc" type="xs:string"/>
  <xs:element name="bgFileType" type="xs:string"/>
  <xs:complexType name="element_rfDenom">
    <xs:sequence>
      <xs:element ref="rfDenom"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rfDenom" substitutionGroup="RepFract"/>
  <xs:element name="equScale" substitutionGroup="Resol" type="RepFract"/>
  <xs:element name="scaleDist" substitutionGroup="Resol" type="Distance"/>
  <xs:element name="specUsage" type="xs:string"/>
  <xs:element name="usageDate" type="xs:string"/>
  <xs:element name="usrDetLim" type="xs:string"/>
  <xs:element name="usrCntInfo" type="RespParty"/>
  <xs:element name="keyword" type="xs:string"/>
  <xs:element name="keyTyp" type="element_KeyTypCd"/>
  <xs:element name="thesaName" type="Citation"/>
  <!-- Constraint Elements -->
  <xs:element name="Consts" substitutionGroup="ConstsTypes" type="Consts"/>
  <xs:element name="LegConsts" substitutionGroup="ConstsTypes" type="LegConsts"/>
  <xs:element name="useLimit" type="xs:string"/>
  <xs:element name="accessConsts" type="element_RestrictCd"/>
  <xs:element name="useConsts" type="element_RestrictCd"/>
  <xs:element name="othConsts" type="xs:string"/>
  <xs:element name="SecConsts" substitutionGroup="ConstsTypes" type="SecConsts"/>
  <xs:element name="class" type="element_ClasscationCd"/>
  <xs:element name="userNote" type="xs:string"/>
  <xs:element name="classSys" type="xs:string"/>
  <xs:element name="handDesc" type="xs:string"/>
  <!-- Data Quality Elements -->
  <xs:element name="stepDesc" type="xs:string"/>
  <xs:element name="stepRat" type="xs:string"/>
  <xs:element name="stepDateTm" type="xs:string"/>
  <xs:element name="stepProc" type="RespParty"/>
  <xs:element name="stepSrc" type="Source"/>
  <xs:element name="srcDesc" type="xs:string"/>
  <xs:element name="srcScale" type="RepFract"/>
  <xs:element name="srcRefSys" type="RefSystemTypes"/>
  <xs:element name="srcCitatn" type="Citation"/>
  <xs:element name="srcExt" type="Extent"/>
  <xs:element name="srcStep" type="PrcessStep"/>
  <xs:element name="statement" type="xs:string"/>
  <xs:element name="dataSource" type="Source"/>
  <xs:element name="prcStep" type="PrcessStep"/>
  <xs:element name="Result" substitutionGroup="ResultTypes" type="xs:string"/>
  <xs:element name="ConResult" substitutionGroup="ResultTypes" type="ConResult"/>
  <xs:element name="conSpec" type="Citation"/>
  <xs:element name="conExpl" type="xs:string"/>
  <xs:element name="conPass" type="xs:string"/>
  <xs:element name="QuanResult" substitutionGroup="ResultTypes" type="QuanResult"/>
  <xs:element name="quanValType" type="xs:string"/>
  <xs:element name="quanValUnit" type="Measure"/>
  <xs:element name="errStat" type="xs:string"/>
  <xs:element name="quanValue" type="xs:string"/>
  <xs:element name="DQTempValid" substitutionGroup="DQElementTypes" type="DQTempValid"/>
  <xs:element name="DQTempConsis" substitutionGroup="DQElementTypes" type="DQTempConsis"/>
  <xs:element name="DQAccTimeMeas" substitutionGroup="DQElementTypes" type="DQAccTimeMeas"/>
  <xs:element name="DQQuanAttAcc" substitutionGroup="DQElementTypes" type="DQQuanAttAcc"/>
  <xs:element name="DQNonQuanAttAcc" substitutionGroup="DQElementTypes" type="DQNonQuanAttAcc"/>
  <xs:element name="DQThemClassCor" substitutionGroup="DQElementTypes" type="DQThemClassCor"/>
  <xs:element name="DQRelIntPosAcc" substitutionGroup="DQElementTypes" type="DQRelIntPosAcc"/>
  <xs:element name="DQGridDataPosAcc" substitutionGroup="DQElementTypes" type="DQGridDataPosAcc"/>
  <xs:element name="DQAbsExtPosAcc" substitutionGroup="DQElementTypes" type="DQAbsExtPosAcc"/>
  <xs:element name="DQTopConsis" substitutionGroup="DQElementTypes" type="DQTopConsis"/>
  <xs:element name="DQFormConsis" substitutionGroup="DQElementTypes" type="DQFormConsis"/>
  <xs:element name="DQDomConsis" substitutionGroup="DQElementTypes" type="DQDomConsis"/>
  <xs:element name="DQConcConsis" substitutionGroup="DQElementTypes" type="DQConcConsis"/>
  <xs:element name="DQCompOm" substitutionGroup="DQElementTypes" type="DQCompOm"/>
  <xs:element name="DQCompComm" substitutionGroup="DQElementTypes" type="DQCompComm"/>
  <xs:element name="measName" type="xs:string"/>
  <xs:element name="measId" type="MdIdentTypes"/>
  <xs:element name="measureDescription" type="xs:string"/>
  <xs:element name="evalMethType" type="element_EvalMethTypeCd"/>
  <xs:element name="evalMethDesc" type="xs:string"/>
  <xs:element name="evaluationProcedure" type="Citation"/>
  <xs:element name="measDateTm" type="xs:string"/>
  <xs:element name="measResult" type="ResultTypes"/>
  <xs:element name="dqScope" type="DQScope"/>
  <xs:element name="dataLineage" type="Lineage"/>
  <xs:element name="dqReport" type="DQElementTypes"/>
  <xs:element name="scpLvl" type="element_ScopeCd"/>
  <xs:element name="scpExt" type="Extent"/>
  <xs:element name="scpLvlDesc" type="ScpDesc"/>
  <!-- Maintenance Elements -->
  <xs:element name="maintFreq" type="element_MaintFreqCd"/>
  <xs:element name="dateNext" type="xs:string"/>
  <xs:element name="usrDefFreq" type="TM_PeriodDuration"/>
  <xs:element name="maintScp" type="element_ScopeCd"/>
  <xs:element name="upScpDesc" type="ScpDesc"/>
  <xs:element name="maintNote" type="xs:string"/>
  <xs:element name="attribSet" substitutionGroup="ScpDesc"/>
  <!-- "attributes" is a list of the attributes updated during the maintenance -->
  <xs:element name="featSet" substitutionGroup="ScpDesc"/>
  <!-- "features" is a list of the features updated during the maintenance -->
  <xs:element name="featIntSet" substitutionGroup="ScpDesc"/>
  <!-- "featureInstances" is alist of the feature instances updated during the maintenance -->
  <xs:element name="attribIntSet" substitutionGroup="ScpDesc"/>
  <!-- "attributeInstances" is alist of the attribute instances updated during the maaintenance -->
  <xs:element name="datasetSet" substitutionGroup="ScpDesc"/>
  <xs:element name="other" substitutionGroup="ScpDesc"/>
  <!-- Spatial Representation Elements -->
  <xs:element name="GridSpatRep" substitutionGroup="SpatRepTypes" type="GridSpatRep"/>
  <xs:element name="numDims" type="xs:string"/>
  <xs:element name="axDimProps" type="Sequence_Dimen_"/>
  <xs:element name="cellGeo" type="element_CellGeoCd"/>
  <xs:element name="tranParaAv" type="xs:string"/>
  <xs:element name="VectSpatRep" substitutionGroup="SpatRepTypes" type="VectSpatRep"/>
  <!--
    RG: was
    <!ELEMENT topLvl (TopLevCd)>
  -->
  <xs:element name="topLvl" type="element_TopoLevCd"/>
  <xs:element name="geometObjs" type="GeometObjs"/>
  <xs:element name="Georef" substitutionGroup="SpatRepTypes" type="Georef"/>
  <xs:element name="ctrlPtAv" type="xs:string"/>
  <xs:element name="orieParaAv" type="xs:string"/>
  <xs:element name="orieParaDesc" type="xs:string"/>
  <xs:element name="georefPars" type="xs:string"/>
  <xs:element name="paraCit" type="Citation"/>
  <xs:element name="Dimen" type="Dimen"/>
  <xs:element name="dimName" type="element_DimNameTypCd"/>
  <xs:element name="dimSize" type="xs:string"/>
  <xs:element name="dimResol" type="Measure"/>
  <xs:element name="Georect" substitutionGroup="SpatRepTypes" type="Georect"/>
  <xs:element name="chkPtAv" type="xs:string"/>
  <xs:element name="chkPtDesc" type="xs:string"/>
  <xs:element name="cornerPts" type="GM_Point"/>
  <xs:element name="centerPt" type="GM_Point"/>
  <xs:element name="ptInPixel" type="element_PixOrientCd"/>
  <xs:element name="transDimDesc" type="xs:string"/>
  <xs:element name="transDimMap" type="xs:string"/>
  <xs:element name="geoObjTyp" type="element_GeoObjTypCd"/>
  <xs:element name="geoObjCnt" type="xs:string"/>
  <!-- Reference System Elements -->
  <xs:element name="MdIdent" substitutionGroup="MdIdentTypes" type="MdIdent"/>
  <xs:element name="RS_Identifier" substitutionGroup="MdIdentTypes" type="RS_Identifier"/>
  <xs:element name="identAuth" type="Citation"/>
  <xs:element name="identCode" type="xs:string"/>
  <xs:element name="RefSystem" substitutionGroup="RefSystemTypes" type="RefSystem"/>
  <xs:element name="refSysID" type="RS_Identifier"/>
  <xs:element name="MdCoRefSys" substitutionGroup="RefSystemTypes" type="MdCoRefSys"/>
  <xs:element name="projection" type="RS_Identifier"/>
  <xs:element name="ellipsoid" type="RS_Identifier"/>
  <xs:element name="datum" type="RS_Identifier"/>
  <xs:element name="projParas" type="ProjParas"/>
  <xs:element name="ellParas" type="EllParas"/>
  <xs:element name="ProjParas" type="ProjParas"/>
  <xs:element name="zone" type="xs:string"/>
  <xs:element name="stanPara" type="xs:string"/>
  <xs:element name="longCntMer" type="xs:string"/>
  <xs:element name="latProjOri" type="xs:string"/>
  <xs:element name="falEastng" type="xs:string"/>
  <xs:element name="falNorthng" type="xs:string"/>
  <xs:element name="falENUnits" type="UomLength"/>
  <xs:element name="sclFacEqu" type="xs:string"/>
  <xs:element name="hgtProsPt" type="xs:string"/>
  <xs:element name="longProjCnt" type="xs:string"/>
  <xs:element name="latProjCnt" type="xs:string"/>
  <xs:element name="sclFacCnt" type="xs:string"/>
  <xs:element name="stVrLongPl" type="xs:string"/>
  <xs:element name="sclFacPrOr" type="xs:string"/>
  <xs:element name="obLnAziPars" type="ObLineAzi"/>
  <xs:element name="obLnPtPars" type="ObLinePt"/>
  <xs:element name="aziAngle" type="xs:string"/>
  <xs:element name="aziPtLong" type="xs:string"/>
  <xs:element name="ObLinePt" type="ObLinePt"/>
  <xs:element name="obLineLat" type="xs:string"/>
  <xs:element name="obLineLong" type="xs:string"/>
  <xs:element name="semiMajAx" type="xs:string"/>
  <xs:element name="axisUnits" type="UomLength"/>
  <xs:element name="denFlatRat" type="xs:string"/>
  <!-- Content Elements -->
  <xs:element name="ContInfo" substitutionGroup="ContInfoTypes" type="xs:string"/>
  <xs:element name="FetCatDesc" substitutionGroup="ContInfoTypes" type="FetCatDesc"/>
  <xs:element name="compCode" type="xs:string"/>
  <xs:element name="catLang" type="element_languageCode"/>
  <xs:element name="incWithDS" type="xs:string"/>
  <xs:element name="catFetTypes" type="GenericNameTypes"/>
  <xs:element name="catCitation" type="Citation"/>
  <xs:element name="CovDesc" substitutionGroup="ContInfoTypes" type="CovDesc"/>
  <xs:element name="attDesc" type="xs:string"/>
  <xs:element name="contentTyp" type="element_ContentTypCd"/>
  <xs:element name="covDim" type="RangeDimTypes"/>
  <xs:element name="ImgDesc" substitutionGroup="ContInfoTypes" type="ImgDesc"/>
  <xs:element name="illElevAng" type="xs:string"/>
  <xs:element name="illAziAng" type="xs:string"/>
  <xs:element name="imagCond" type="element_ImgCondCd"/>
  <xs:element name="imagQuCode" type="MdIdentTypes"/>
  <xs:element name="cloudCovPer" type="xs:string"/>
  <xs:element name="prcTypCde" type="MdIdentTypes"/>
  <xs:element name="cmpGenQuan" type="xs:string"/>
  <xs:element name="trianInd" type="xs:string"/>
  <xs:element name="radCalDatAv" type="xs:string"/>
  <xs:element name="camCalInAv" type="xs:string"/>
  <xs:element name="filmDistInAv" type="xs:string"/>
  <xs:element name="lensDistInAv" type="xs:string"/>
  <xs:element name="RangeDim" substitutionGroup="RangeDimTypes" type="RangeDim"/>
  <xs:element name="seqID" type="MemberName"/>
  <xs:element name="dimDescrp" type="xs:string"/>
  <xs:element name="Band" substitutionGroup="RangeDimTypes" type="Band"/>
  <xs:element name="maxVal" type="xs:string"/>
  <xs:element name="minVal" type="xs:string"/>
  <xs:element name="valUnit" type="UomLength"/>
  <xs:element name="pkResp" type="xs:string"/>
  <xs:element name="bitsPerVal" type="xs:string"/>
  <xs:element name="toneGrad" type="xs:string"/>
  <xs:element name="sclFac" type="xs:string"/>
  <xs:element name="offset" type="xs:string"/>
  <!-- Portrayal Catalogue Element -->
  <xs:element name="portCatCit" type="Citation"/>
  <!-- Distribution Elements -->
  <xs:element name="medName" type="element_MedNameCd"/>
  <xs:element name="medDensity" type="xs:string"/>
  <xs:element name="medDenUnits" type="xs:string"/>
  <xs:element name="medVol" type="xs:string"/>
  <xs:element name="medFormat" type="element_MedFormCd"/>
  <xs:element name="medNote" type="xs:string"/>
  <xs:element name="unitsODist" type="xs:string"/>
  <xs:element name="transSize" type="xs:string"/>
  <xs:element name="onLineSrc" type="OnlineRes"/>
  <xs:element name="onLineMed" type="Medium"/>
  <xs:element name="resFees" type="xs:string"/>
  <xs:element name="planAvDtTm" type="xs:string"/>
  <xs:element name="ordInstr" type="xs:string"/>
  <xs:element name="ordTurn" type="xs:string"/>
  <xs:element name="distorCont" type="RespParty"/>
  <xs:element name="distorFormat" type="Format"/>
  <xs:element name="distorOrdPrc" type="StanOrdProc"/>
  <!--
    RG: was
    <!ELEMENT distroTran %DigTranOps;>
  -->
  <xs:element name="distorTran" type="DigTranOps"/>
  <xs:element name="distributor" type="Distributor"/>
  <xs:element name="distTranOps" type="DigTranOps"/>
  <xs:element name="formatName" type="xs:string"/>
  <xs:element name="formatVer" type="xs:string"/>
  <xs:element name="formatAmdNum" type="xs:string"/>
  <xs:element name="formatSpec" type="xs:string"/>
  <xs:element name="fileDecmTech" type="xs:string"/>
  <!-- Extension Elements -->
  <xs:element name="extEleName" type="xs:string"/>
  <xs:element name="extShortName" type="xs:string"/>
  <xs:element name="extDomcode" type="xs:string"/>
  <xs:element name="extEleDef" type="xs:string"/>
  <xs:element name="extEleOb" type="element_ObCd"/>
  <xs:element name="extEleCond" type="xs:string"/>
  <xs:element name="eleDatatype" type="element_DatatypeCd"/>
  <xs:element name="extEleMxOc" type="xs:string"/>
  <xs:element name="extEleDomVal" type="xs:string"/>
  <xs:element name="extEleParEnt" type="xs:string"/>
  <xs:element name="extEleRule" type="xs:string"/>
  <xs:element name="extEleRat" type="xs:string"/>
  <xs:element name="extEleSrc" type="RespParty"/>
  <xs:element name="extOnRes" type="OnlineRes"/>
  <xs:element name="extEleInfo" type="ExtEleInfo"/>
  <!-- Application Schema Elements -->
  <xs:element name="asName" type="Citation"/>
  <xs:element name="asSchLang" type="xs:string"/>
  <xs:element name="asCstLang" type="xs:string"/>
  <xs:element name="asAscii" type="xs:string"/>
  <xs:element name="asGraFile" type="xs:string"/>
  <xs:element name="asSwDevFile" type="xs:string"/>
  <xs:element name="asSwDevFiFt" type="xs:string"/>
  <xs:element name="fetCatSup" type="SpatAttSup"/>
  <xs:element name="spatObj" type="xs:string"/>
  <xs:element name="spatSchName" type="xs:string"/>
  <xs:element name="SpatAttSup" type="SpatAttSup"/>
  <xs:element name="featTypeList" type="FeatTypList"/>
  <!-- Extent Elements -->
  <xs:element name="TempExtent" substitutionGroup="TempExtentTypes" type="TempExtent"/>
  <xs:complexType name="element_exTemp">
    <xs:sequence>
      <xs:element ref="exTemp"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exTemp" type="TM_Primitive"/>
  <xs:element name="VertExtent" type="VertExtent"/>
  <xs:element name="vertMinVal" type="xs:string"/>
  <xs:element name="vertMaxVal" type="xs:string"/>
  <xs:element name="vertUoM" type="UomLength"/>
  <xs:element name="vertDatum" type="SC_VerticalDatum"/>
  <xs:element name="exDesc" type="xs:string"/>
  <xs:element name="vertEle" type="VertExtent"/>
  <xs:element name="tempEle" type="TempExtentTypes"/>
  <xs:element name="geoEle" type="GeoExtentTypes"/>
  <xs:element name="exTypeCode" type="xs:string"/>
  <xs:element name="BoundPoly" substitutionGroup="GeoExtentTypes" type="BoundPoly"/>
  <xs:element name="polygon" type="GM_ObjectTypes"/>
  <xs:element name="GeoBndBox" type="GeoBndBox"/>
  <xs:element name="westBL" type="xs:string"/>
  <xs:element name="eastBL" type="xs:string"/>
  <xs:element name="southBL" type="xs:string"/>
  <xs:element name="northBL" type="xs:string"/>
  <xs:element name="SpatTempEx" substitutionGroup="TempExtentTypes" type="SpatTempEx"/>
  <xs:element name="exSpat" type="GeoExtentTypes"/>
  <xs:element name="GeoDesc" substitutionGroup="GeoExtentTypes" type="GeoDesc"/>
  <xs:element name="geoId" type="MdIdent"/>
  <!-- Citation Elements -->
  <xs:element name="rpIndName" type="xs:string"/>
  <xs:element name="rpOrgName" type="xs:string"/>
  <xs:element name="rpPosName" type="xs:string"/>
  <xs:element name="rpCntInfo" type="Contact"/>
  <xs:element name="role" type="element_RoleCd"/>
  <xs:element name="resTitle" type="xs:string"/>
  <xs:element name="resAltTitle" type="xs:string"/>
  <xs:element name="resRefDate" type="DateRef"/>
  <xs:element name="resEd" type="xs:string"/>
  <xs:element name="resEdDate" type="xs:string"/>
  <xs:element name="citId" type="xs:string"/>
  <xs:element name="citIdType" type="xs:string"/>
  <xs:element name="citRespParty" type="RespParty"/>
  <xs:element name="presForm" type="element_PresFormCd"/>
  <xs:element name="datasetSeries" type="DatasetSeries"/>
  <xs:element name="otherCitDet" type="xs:string"/>
  <xs:element name="collTitle" type="xs:string"/>
  <xs:element name="isbn" type="xs:string"/>
  <xs:element name="issn" type="xs:string"/>
  <xs:element name="delPoint" type="xs:string"/>
  <xs:element name="city" type="xs:string"/>
  <xs:element name="adminArea" type="xs:string"/>
  <xs:element name="postCode" type="xs:string"/>
  <xs:element name="country" type="xs:string"/>
  <xs:element name="eMailAdd" type="xs:string"/>
  <xs:element name="linkage" type="xs:string"/>
  <xs:element name="protocol" type="xs:string"/>
  <xs:element name="appProfile" type="xs:string"/>
  <xs:element name="orName" type="xs:string"/>
  <xs:element name="orDesc" type="xs:string"/>
  <xs:element name="orFunct" type="element_OnFunctCd"/>
  <xs:element name="cntPhone" type="Telephone"/>
  <xs:element name="cntAddress" type="Address"/>
  <xs:element name="cntOnLineRes" type="OnlineRes"/>
  <xs:element name="cntHours" type="xs:string"/>
  <xs:element name="cntInstr" type="xs:string"/>
  <xs:element name="voiceNum" type="xs:string"/>
  <xs:element name="faxNum" type="xs:string"/>
  <xs:element name="refDate" type="xs:string"/>
  <!-- error in specification was corrected from dateType to refDateType -->
  <!--
    RG: was
    <!ELEMENT dateType (DateTypCd)>
  -->
  <xs:element name="refDateType" type="element_DateTypCd"/>
  <xs:element name="seriesName" type="xs:string"/>
  <xs:element name="issId" type="xs:string"/>
  <xs:element name="artPage" type="xs:string"/>
  <xs:element name="URL" type="xs:string"/>
  <!-- PART 7: CODELIST and ENUMERATION DECLARATIONS -->
  <xs:complexType name="element_DateTypCd">
    <xs:sequence>
      <xs:element ref="DateTypCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateTypCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_DateTypCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_DateTypCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="creation"/>
          <xs:enumeration value="publication"/>
          <xs:enumeration value="revision"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_OnFunctCd">
    <xs:sequence>
      <xs:element ref="OnFunctCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnFunctCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_OnFunctCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_OnFunctCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="download"/>
          <xs:enumeration value="information"/>
          <xs:enumeration value="offlineAccess"/>
          <xs:enumeration value="order"/>
          <xs:enumeration value="search"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_PresFormCd">
    <xs:sequence>
      <xs:element ref="PresFormCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PresFormCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_PresFormCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_PresFormCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="documentDigital"/>
          <xs:enumeration value="documentHardcopy"/>
          <xs:enumeration value="imageDigital"/>
          <xs:enumeration value="imageHardcopy"/>
          <xs:enumeration value="mapDigital"/>
          <xs:enumeration value="mapHardcopy"/>
          <xs:enumeration value="modelDigital"/>
          <xs:enumeration value="modelHardcopy"/>
          <xs:enumeration value="profileDigital"/>
          <xs:enumeration value="profileHardcopy"/>
          <xs:enumeration value="tableDigital"/>
          <xs:enumeration value="tableHardcopy"/>
          <xs:enumeration value="videoDigital"/>
          <xs:enumeration value="videoHardcopy"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_RoleCd">
    <xs:sequence>
      <xs:element ref="RoleCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_RoleCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_RoleCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="resourceProvider"/>
          <xs:enumeration value="custodian"/>
          <xs:enumeration value="owner"/>
          <xs:enumeration value="user"/>
          <xs:enumeration value="distributor"/>
          <xs:enumeration value="originator"/>
          <xs:enumeration value="pointOfContact"/>
          <xs:enumeration value="principalInvestigator"/>
          <xs:enumeration value="processor"/>
			 <xs:enumeration value="publisher"/>
			 <xs:enumeration value="author"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_EvalMethTypeCd">
    <xs:sequence>
      <xs:element ref="EvalMethTypeCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EvalMethTypeCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_EvalMethTypeCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_EvalMethTypeCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="directInternal"/>
          <xs:enumeration value="directExternal"/>
          <xs:enumeration value="indirect"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_CellGeoCd">
    <xs:sequence>
      <xs:element ref="CellGeoCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CellGeoCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_CellGeoCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_CellGeoCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="point"/>
          <xs:enumeration value="area"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_CharSetCd">
    <xs:sequence>
      <xs:element ref="CharSetCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharSetCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_CharSetCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_CharSetCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ucs2"/>
          <xs:enumeration value="ucs4"/>
          <xs:enumeration value="utf7"/>
          <xs:enumeration value="utf8"/>
          <xs:enumeration value="utf16"/>
          <xs:enumeration value="8859part1"/>
          <xs:enumeration value="8859part2"/>
          <xs:enumeration value="8859part3"/>
          <xs:enumeration value="8859part4"/>
          <xs:enumeration value="8859part5"/>
          <xs:enumeration value="8859part6"/>
          <xs:enumeration value="8859part7"/>
          <xs:enumeration value="8859part8"/>
          <xs:enumeration value="8859part9"/>
          <xs:enumeration value="8859part11"/>
          <xs:enumeration value="8859part14"/>
          <xs:enumeration value="8859part15"/>
          <xs:enumeration value="jis"/>
          <xs:enumeration value="shiftJIS"/>
          <xs:enumeration value="eucJP"/>
          <xs:enumeration value="usAscii"/>
          <xs:enumeration value="ebcdic"/>
          <xs:enumeration value="eucKR"/>
          <xs:enumeration value="big5"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_ClasscationCd">
    <xs:sequence>
      <xs:element ref="ClasscationCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClasscationCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_ClasscationCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_ClasscationCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="unclassified"/>
          <xs:enumeration value="restricted"/>
          <xs:enumeration value="confidential"/>
          <xs:enumeration value="secret"/>
          <xs:enumeration value="topsecret"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_ContentTypCd">
    <xs:sequence>
      <xs:element ref="ContentTypCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentTypCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_ContentTypCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_ContentTypCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="image"/>
          <xs:enumeration value="thematicClassification"/>
          <xs:enumeration value="physicalMeasurement"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_DatatypeCd">
    <xs:sequence>
      <xs:element ref="DatatypeCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatatypeCd">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist_DatatypeCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_DatatypeCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="class"/>
          <xs:enumeration value="codelist"/>
          <xs:enumeration value="enumeration"/>
          <xs:enumeration value="codelistElement"/>
          <xs:enumeration value="abstractClass"/>
          <xs:enumeration value="aggregateClass"/>
          <xs:enumeration value="specifiedClass"/>
          <xs:enumeration value="datatypeClass"/>
          <xs:enumeration value="interfaceClass"/>
          <xs:enumeration value="unionClass"/>
          <xs:enumeration value="metaclass"/>
          <xs:enumeration value="typeClass"/>
          <xs:enumeration value="characterString"/>
          <xs:enumeration value="integer"/>
          <xs:enumeration value="association"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_DimNameTypCd">
    <xs:sequence>
      <xs:element ref="DimNameTypCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DimNameTypCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_DimNameTypCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_DimNameTypCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="row"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="track"/>
          <xs:enumeration value="crossTrack"/>
          <xs:enumeration value="line"/>
          <xs:enumeration value="sample"/>
          <xs:enumeration value="time"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_GeoObjTypCd">
    <xs:sequence>
      <xs:element ref="GeoObjTypCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoObjTypCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_GeoObjTypCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_GeoObjTypCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="complexes"/>
          <xs:enumeration value="composites"/>
          <xs:enumeration value="curve"/>
          <xs:enumeration value="point"/>
          <xs:enumeration value="solid"/>
          <xs:enumeration value="surface"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_ImgCondCd">
    <xs:sequence>
      <xs:element ref="ImgCondCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImgCondCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_ImgCondCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_ImgCondCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="blurredImage"/>
          <xs:enumeration value="cloud"/>
          <xs:enumeration value="degradingObliquity"/>
          <xs:enumeration value="fog"/>
          <xs:enumeration value="heavySmokeOrDust"/>
          <xs:enumeration value="night"/>
          <xs:enumeration value="rain"/>
          <xs:enumeration value="semiDarkness"/>
          <xs:enumeration value="shadow"/>
          <xs:enumeration value="snow"/>
          <xs:enumeration value="terrainMasking"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_KeyTypCd">
    <xs:sequence>
      <xs:element ref="KeyTypCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyTypCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_KeyTypCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_KeyTypCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="discipline"/>
          <xs:enumeration value="place"/>
          <xs:enumeration value="stratum"/>
          <xs:enumeration value="temporal"/>
          <xs:enumeration value="theme"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_MaintFreqCd">
    <xs:sequence>
      <xs:element ref="MaintFreqCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaintFreqCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_MaintFreqCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_MaintFreqCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="continual"/>
          <xs:enumeration value="daily"/>
          <xs:enumeration value="weekly"/>
          <xs:enumeration value="fortnightly"/>
          <xs:enumeration value="monthly"/>
          <xs:enumeration value="quarterly"/>
          <xs:enumeration value="biannually"/>
          <xs:enumeration value="annually"/>
          <xs:enumeration value="asNeeded"/>
          <xs:enumeration value="irregular"/>
          <xs:enumeration value="notPlanned"/>
          <xs:enumeration value="unknown"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_MedFormCd">
    <xs:sequence>
      <xs:element ref="MedFormCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedFormCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_MedFormCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_MedFormCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="cpio"/>
          <xs:enumeration value="tar"/>
          <xs:enumeration value="highSierra"/>
          <xs:enumeration value="iso9660"/>
          <xs:enumeration value="iso9660RockRidge"/>
          <xs:enumeration value="iso9660AppleHFS"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_MedNameCd">
    <xs:sequence>
      <xs:element ref="MedNameCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedNameCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_MedNameCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_MedNameCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="cdRom"/>
          <xs:enumeration value="dvd"/>
          <xs:enumeration value="dvdRom"/>
          <xs:enumeration value="3halfInchFloppy"/>
          <xs:enumeration value="5quartherInchFloppy"/>
          <xs:enumeration value="7trackTape"/>
          <xs:enumeration value="9trackTape"/>
          <xs:enumeration value="3480Cartridge"/>
          <xs:enumeration value="3490Cartridge"/>
          <xs:enumeration value="3580Cartridge"/>
          <xs:enumeration value="4mmCartridgeTape"/>
          <xs:enumeration value="8mmCartridgeTape"/>
          <xs:enumeration value="1quarterInchCartridgeTape"/>
          <xs:enumeration value="digitalLinearTape"/>
          <xs:enumeration value="online"/>
          <xs:enumeration value="satellite"/>
          <xs:enumeration value="telephoneLink"/>
          <xs:enumeration value="hardcopy"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_ObCd">
    <xs:sequence>
      <xs:element ref="ObCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_ObCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_ObCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mandatory"/>
          <xs:enumeration value="optional"/>
          <xs:enumeration value="conditional"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_PixOrientCd">
    <xs:sequence>
      <xs:element ref="PixOrientCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PixOrientCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_PixOrientCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_PixOrientCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="center"/>
          <xs:enumeration value="lowerLeft"/>
          <xs:enumeration value="lowerRight"/>
          <xs:enumeration value="upperRight"/>
          <xs:enumeration value="upperLeft"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_ProgCd">
    <xs:sequence>
      <xs:element ref="ProgCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_ProgCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_ProgCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="completed"/>
          <xs:enumeration value="historicalArchive"/>
          <xs:enumeration value="obsolete"/>
          <xs:enumeration value="onGoing"/>
          <xs:enumeration value="planned"/>
          <xs:enumeration value="required"/>
          <xs:enumeration value="underdevelopment"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_RestrictCd">
    <xs:sequence>
      <xs:element ref="RestrictCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestrictCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_RestrictCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_RestrictCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="copyright"/>
          <xs:enumeration value="patent"/>
          <xs:enumeration value="patentPending"/>
          <xs:enumeration value="trademark"/>
          <xs:enumeration value="license"/>
          <xs:enumeration value="intellectualPropertyRights"/>
          <xs:enumeration value="restricted"/>
          <xs:enumeration value="otherRestictions"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_ScopeCd">
    <xs:sequence>
      <xs:element ref="ScopeCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScopeCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_ScopeCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_ScopeCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="attribute"/>
          <xs:enumeration value="attributeType"/>
          <xs:enumeration value="collectionhardware"/>
          <xs:enumeration value="collectionSession"/>
          <xs:enumeration value="dataset"/>
          <xs:enumeration value="series"/>
          <xs:enumeration value="nonGeographicDataset"/>
          <xs:enumeration value="dimensionGroup"/>
          <xs:enumeration value="feature"/>
          <xs:enumeration value="featureType"/>
          <xs:enumeration value="propertyType"/>
          <xs:enumeration value="fieldSession"/>
          <xs:enumeration value="software"/>
          <xs:enumeration value="service"/>
          <xs:enumeration value="model"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_SpatRepTypCd">
    <xs:sequence>
      <xs:element ref="SpatRepTypCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpatRepTypCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_SpatRepTypCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_SpatRepTypCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="vector"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="textTable"/>
          <xs:enumeration value="tin"/>
          <xs:enumeration value="stereoModel"/>
          <xs:enumeration value="video"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="element_TopicCatCd">
    <xs:sequence>
      <xs:element ref="TopicCatCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopicCatCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_TopicCatCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_TopicCatCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="farming"/>
          <xs:enumeration value="biota"/>
          <xs:enumeration value="boundaries"/>
          <xs:enumeration value="climatologyMeteorologyAtmosphere"/>
          <xs:enumeration value="economy"/>
          <xs:enumeration value="elevation"/>
          <xs:enumeration value="environment"/>
          <xs:enumeration value="geoscientificInformation"/>
          <xs:enumeration value="health"/>
          <xs:enumeration value="imageryBaseMapsEarthCover"/>
          <xs:enumeration value="intelligenceMilitary"/>
          <xs:enumeration value="inlandWaters"/>
          <xs:enumeration value="location"/>
          <xs:enumeration value="oceans"/>
          <xs:enumeration value="planningCadastre"/>
          <xs:enumeration value="society"/>
          <xs:enumeration value="structure"/>
          <xs:enumeration value="transportation"/>
          <xs:enumeration value="utilitiesCommunication"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!-- TopLevCd corrected to TopoLevCd (error in original ISO19115 DIS DTD) -->
  <!--
    RG: was
    <!ELEMENT TopLevCd EMPTY>
    <!ATTLIST TopLevCd
    	value (geometryOnly | topology1D | planarGraph | fullPlanarGraph | surfaceGraph | fullSurfaceGraph | topology3D | fullTopology3D | abstract) #REQUIRED
    >
  -->
  <xs:complexType name="element_TopoLevCd">
    <xs:sequence>
      <xs:element ref="TopoLevCd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopoLevCd">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_TopoLevCd"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_TopoLevCd">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="geometryOnly"/>
          <xs:enumeration value="topology1D"/>
          <xs:enumeration value="planarGraph"/>
          <xs:enumeration value="fullPlanarGraph"/>
          <xs:enumeration value="surfaceGraph"/>
          <xs:enumeration value="fullSurfaceGraph"/>
          <xs:enumeration value="topology3D"/>
          <xs:enumeration value="fullTopology3D"/>
          <xs:enumeration value="abstract"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    The language codelist below comes from ISO 639-2, as various parts of that standard can be used, the codelist
    is not present in 19115.
  -->
  <xs:complexType name="element_languageCode">
    <xs:sequence>
      <xs:element ref="languageCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="languageCode">
    <xs:complexType>
      <xs:attributeGroup ref="attlist_languageCode"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist_languageCode">
    <xs:attribute name="value" default="en">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="aa"/>
          <xs:enumeration value="ab"/>
          <xs:enumeration value="af"/>
          <xs:enumeration value="am"/>
          <xs:enumeration value="ar"/>
          <xs:enumeration value="as"/>
          <xs:enumeration value="ay"/>
          <xs:enumeration value="az"/>
          <xs:enumeration value="ba"/>
          <xs:enumeration value="be"/>
          <xs:enumeration value="bg"/>
          <xs:enumeration value="bh"/>
          <xs:enumeration value="bi"/>
          <xs:enumeration value="bn"/>
          <xs:enumeration value="bo"/>
          <xs:enumeration value="br"/>
          <xs:enumeration value="ca"/>
          <xs:enumeration value="co"/>
          <xs:enumeration value="cs"/>
          <xs:enumeration value="cy"/>
          <xs:enumeration value="da"/>
          <xs:enumeration value="de"/>
          <xs:enumeration value="dz"/>
          <xs:enumeration value="el"/>
          <xs:enumeration value="en"/>
          <xs:enumeration value="eo"/>
          <xs:enumeration value="es"/>
          <xs:enumeration value="et"/>
          <xs:enumeration value="eu"/>
          <xs:enumeration value="fa"/>
          <xs:enumeration value="fi"/>
          <xs:enumeration value="fj"/>
          <xs:enumeration value="fo"/>
          <xs:enumeration value="fr"/>
          <xs:enumeration value="fy"/>
          <xs:enumeration value="ga"/>
          <xs:enumeration value="gd"/>
          <xs:enumeration value="gl"/>
          <xs:enumeration value="gn"/>
          <xs:enumeration value="gu"/>
          <xs:enumeration value="ha"/>
          <xs:enumeration value="hi"/>
          <xs:enumeration value="hr"/>
          <xs:enumeration value="hu"/>
          <xs:enumeration value="hy"/>
          <xs:enumeration value="ia"/>
          <xs:enumeration value="ie"/>
          <xs:enumeration value="ik"/>
          <xs:enumeration value="in"/>
          <xs:enumeration value="is"/>
          <xs:enumeration value="it"/>
          <xs:enumeration value="iw"/>
          <xs:enumeration value="ja"/>
          <xs:enumeration value="ji"/>
          <xs:enumeration value="jw"/>
          <xs:enumeration value="ka"/>
          <xs:enumeration value="kk"/>
          <xs:enumeration value="kl"/>
          <xs:enumeration value="km"/>
          <xs:enumeration value="kn"/>
          <xs:enumeration value="ko"/>
          <xs:enumeration value="ks"/>
          <xs:enumeration value="ku"/>
          <xs:enumeration value="ky"/>
          <xs:enumeration value="la"/>
          <xs:enumeration value="ln"/>
          <xs:enumeration value="lo"/>
          <xs:enumeration value="lt"/>
          <xs:enumeration value="lv"/>
          <xs:enumeration value="mg"/>
          <xs:enumeration value="mi"/>
          <xs:enumeration value="mk"/>
          <xs:enumeration value="ml"/>
          <xs:enumeration value="mn"/>
          <xs:enumeration value="mo"/>
          <xs:enumeration value="mr"/>
          <xs:enumeration value="ms"/>
          <xs:enumeration value="mt"/>
          <xs:enumeration value="my"/>
          <xs:enumeration value="na"/>
          <xs:enumeration value="ne"/>
          <xs:enumeration value="nl"/>
          <xs:enumeration value="no"/>
          <xs:enumeration value="oc"/>
          <xs:enumeration value="om"/>
          <xs:enumeration value="or"/>
          <xs:enumeration value="pa"/>
          <xs:enumeration value="pl"/>
          <xs:enumeration value="ps"/>
          <xs:enumeration value="pt"/>
          <xs:enumeration value="qu"/>
          <xs:enumeration value="rm"/>
          <xs:enumeration value="rn"/>
          <xs:enumeration value="ro"/>
          <xs:enumeration value="ru"/>
          <xs:enumeration value="rw"/>
          <xs:enumeration value="sa"/>
          <xs:enumeration value="sd"/>
          <xs:enumeration value="sg"/>
          <xs:enumeration value="sh"/>
          <xs:enumeration value="si"/>
          <xs:enumeration value="sk"/>
          <xs:enumeration value="sl"/>
          <xs:enumeration value="sm"/>
          <xs:enumeration value="sn"/>
          <xs:enumeration value="so"/>
          <xs:enumeration value="sq"/>
          <xs:enumeration value="sr"/>
          <xs:enumeration value="ss"/>
          <xs:enumeration value="st"/>
          <xs:enumeration value="su"/>
          <xs:enumeration value="sv"/>
          <xs:enumeration value="sw"/>
          <xs:enumeration value="ta"/>
          <xs:enumeration value="te"/>
          <xs:enumeration value="tg"/>
          <xs:enumeration value="th"/>
          <xs:enumeration value="ti"/>
          <xs:enumeration value="tk"/>
          <xs:enumeration value="tl"/>
          <xs:enumeration value="tn"/>
          <xs:enumeration value="to"/>
          <xs:enumeration value="tr"/>
          <xs:enumeration value="ts"/>
          <xs:enumeration value="tt"/>
          <xs:enumeration value="tw"/>
          <xs:enumeration value="uk"/>
          <xs:enumeration value="ur"/>
          <xs:enumeration value="uz"/>
          <xs:enumeration value="vi"/>
          <xs:enumeration value="vo"/>
          <xs:enumeration value="wo"/>
          <xs:enumeration value="xh"/>
          <xs:enumeration value="yo"/>
          <xs:enumeration value="zh"/>
          <xs:enumeration value="zu"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
